<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="tuvan-backend-6-2-theme">
        <wb-resource deploy-path="/" source-path="/docroot" tag="defaultRootSource"/>
        <property name="context-root" value="tuvan-backend-6-2-theme"/>
        <property name="java-output-path" value="/tuvan-backend-6-2-theme/build/classes"/>
    </wb-module>
</project-modules>
