/* -----------fonts------------*/
@font-face {
	font-family:MyriadPro-Cond;
	src:url('../font/MyriadPro-Cond.otf') format('truetype'),
	url('../font/Captureit.eot#iefix') format('embedded-opentype'),
	url('../font/Captureit.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:MyriadPro-Light;
	src:url('../font/MyriadPro-Light.otf') format('truetype'),
	url('../font/Captureit.eot#iefix') format('embedded-opentype'),
	url('../font/Captureit.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:MyriadPro-LightCond;
	src:url('../font/MyriadPro-LightCond.otf') format('truetype'),
	url('../font/Captureit.eot#iefix') format('embedded-opentype'),
	url('../font/Captureit.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:MyriadPro-Regular;
	src:url('../font/MyriadPro-Regular.otf') format('truetype'),
	url('../font/Captureit.eot#iefix') format('embedded-opentype'),
	url('../font/Captureit.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:MyriadPro-SemiboldCond;
	src:url('../font/MyriadPro-SemiboldCond.otf') format('truetype'),
	url('../font/Captureit.eot#iefix') format('embedded-opentype'),
	url('../font/Captureit.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}



