
.box70{
	width:60%;
	float:left;
}
.box30{
	float:right;
	text-align:center;
}
.texthoi{
	text-align:justify;
	line-height:20px;
	margin:10px 0;
}
.texthoi br{
	margin-bottom:10px;
	}
.tacgia{
	margin-bottom:10px;
	color:#666;
}
.text_nhan{
	color:#900;
	font-size:14px;
	font-weight:bold;
}
.box650{
	border:solid 1px #CCC;
	padding:10px;
	width:750px;
	margin:auto;
	border-radius:4px;
}
.nametraloi,.namehoi{
	font-weight:bold;
}
.namehoi{
	color:#900 !important;
}
.nametraloi{
	color:#039 !important;
}
.imglefttradoi{
	float:left;
}
.imglefttradoi img{
	border:solid 1px #CCCCCC;
	padding:2px;
	margin-right:10px;
}
.ultraodoi{
	background:#f6f7f8;
	border:solid 1px #CCCCCC;
	padding:10px;
	
}
.ultraodoi li{
	overflow:hidden;
	margin-bottom:5px;
}
.giohoi{
	color:#666;
	font-style:normal;
	font-size:11px;
}
.xemthemtd{
	background:url(http://tuvanxaydungonline.vn/tuvan-backend-6-2-theme/images/front/trochuyen.png) no-repeat left top;
	padding:7px 0 7px 38px;
}
.boxchat{
	float:right;
	width:89%;
}
.texnoboder{
	margin-bottom:5px;
	padding:11px 0;
}
#idOtherChosenFile_1_4{
	background:none !important;
}
.pright{
	float:right;
}
.boxhotro li{
 float:left;
}