#popup_content{
	left:auto !important;
}
#lean_overlay {
	position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    display: none;
}

#popup, .popup {
    width: 255px;
 	padding-bottom: 2px;
	display:none;
    background: #194284;
    border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px; 
    -webkit-border-radius: 0 0 5px 5px;
	position:absolute !important;
	right:42px;
}

#popup-header, .popup-header { 
	background: url(../images/web/hd-bg1.png);
	padding: 18px 18px 14px 18px; 
	border-bottom: 1px solid #CCC; 
	border-top-left-radius: 5px; 
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	-moz-border-radius-topright: 5px; 
	-webkit-border-top-right-radius: 5px; 
}

#popup-header  h2, .popup-header  h2 { color: #444; text-align:center; font-size: 2em; font-weight: 700; margin-bottom: 3px; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }
#popup-header  p, .popup-header  p { color: #444; font-size: 1.3em; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); text-shadow: none; }
.info_popup { margin:5px;color:#FFF; }     
.info_popup p{
	margin:3px 15px 15px;
	color:#FFF !important;
	float:left;
} 
.close_popup { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(../images/web/modal_close1.png); z-index: 2; }
.user, .pass{
	border:1px solid #006ab7;
	width:163px;
	height:26px;
	color:#CCC;
	padding-left:45px;
	margin-bottom:10px;
}
.user{
	background:url(../images/web/user.png) no-repeat left top #003d87;
}
.pass{
	background:url(../images/web/pass.png) no-repeat left top #003d87;
}
.dangnhap{
	border:2px solid #006ab7;
	background:#003d87;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:15px;
	text-transform:uppercase;
	
}
.dangnhap:hover{
	background:#ff7e00 !important;
	border:3px solid #fff !important;
}