@media screen and (-webkit-min-device-pixel-ratio:0) {
.clum_left a{
	padding:6px 18px !important;
}
.clum_left p span{
	font-size:38px !important;
}
#menutop ul li a{
	padding:10px 18px !important;
}
} /* hacked cho chrome và safari */





/* -----------header------------*/
#bgheader{
		background:url(../images/bg_header.png) repeat left top;
		height:78px;
		border-bottom:1px solid #00b7a8;
	
}
#header{
	width:1010px;
	margin:auto;
	padding:8px;
}
#menutop, #logo{
	width:100%;
}
#menutop{
	height: 25px;
	position: absolute;
	top: 5px;
	right: 0;
	background: url(../images/left_dn.png) no-repeat left top #194284;
	width: 500px;
}
#menutop ul{
	background: url(../images/right_dn.png) no-repeat right top #194284;
	height: 25px;
	padding-right: 36px;
	text-align: center;
	margin-left: 43px;
}
#menutop ul li{
	display:inline-block;
	position:relative;
	top:0px;
}
#menutop ul li:last-child{
	border-right:none;
}
#menutop ul li a{
	padding:4px 13px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	font-size:13px;
	
}
#menutop ul li span{
	background:#F00;
	border-radius:4px;
	color:#FFF;
	padding:1px 4px;
	font-size:11px;
	position:absolute;
	top:-3px;
}


#logo{
	height:40px;
	background:#194284;
	width:100%;
}
#menutop p{
	float:left;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	margin-top:4px;
}
#menutop ul{
}
#logo a img{
	float:left;
}
#logo ul{
	margin:auto;
	max-width:1280px;
	min-width:1000px;
	padding:0 10px;
	
}
#logo ul li{
	float:left;
	white-spaceno: no;
	white-space: nowrap;
}
#logo ul li a{
	padding:5px 40px 5px 0;
	font-size:13px;
	font-weight: bold;
	color:#FFF;
	text-transform:uppercase;
	line-height:40px;
}
#logo ul li a:hover, #logo ul li .active{
	color:#ff9600;
}
.logotop{
	display:block;
	padding:10px 0 0 10px;
}
/*------bannertop--------*/
#bg_bannertop{
	background:url(../images/bg_bannertop.png) repeat-x center top;
	height:102px;
}

#bannertop{
	height:102px;
	max-width:1280px;
	min-width:1000px;
	margin:auto;
	position:relative;
	
}
.menuphu{
	position:absolute;
	bottom:5px;
	right:0;
}
.menuphu ul li{
	float:left;
	padding:0 10px;
}
.menuphu ul li a{
	color:#515151;
}
.clum_left{
	float:left;
	width:317px;
	padding-top:35px;
}
.clum_left p{
	margin:15px 0 15px 0;
}
.clum_left p span{
	font-size:39px;
	font-family:MyriadPro-Bold;
	font-weight:bold;
	text-transform:uppercase;
	color:#00a295;
}
.clum_left p i{
	font-size:30px;
	font-family:MyriadPro-Cond;
	font-style:normal;
	padding:15px 0;
}
.clum_left .tle{
	font-size:16px;
	border-bottom:solid 1px #00a295;
	border-top:solid 1px #00a295;
	font-style:normal;
	padding:12px 0;
}
.clum_left a{
	padding:6px 22px;
	background:#00a295;
	border-radius:5px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-family:MyriadPro-Cond;
	font-size:28px;
}



.clum_left a:hover{
	background:#F90;
}
.clum_left1{
	float:left;
	width:77%;
}
.clum_left2{
	float:left;
	width:77%;
}


.tracuu{
	margin-top:10px;
}
input, select{
	border-radius:5px;
	border:1px solid #d9d9d9;
	padding:6px 10px;
	margin-right:5px !important;
}
select{padding:5px 10px;}
input[type="submit"], input[type="reset"]{
	cursor:pointer;
	margin-right:0;
}
input[type="submit"]:hover, input[type="reset"]:hover{
	background:#ffae00;
	color:#FFF;
}

.clum_right{
	float:right;
	display:block;
}
.menu{
	width:100%;
	display: inline-block;
}
.menu ul{
	background:url(../images/bg_menu.png) repeat-x center 13px;
	overflow:hidden;
	height:152px;
}
.menu ul li{
	float:left;
	width:200px;
	height:139px;
	padding:65px 0 0 0;	
	text-align:center;
}
.menu ul li a:last-child{
	border-right:none;
}
.menu ul li a{
	text-transform:uppercase;
	font-family:MyriadPro-Cond;
	font-size:25px;
	padding:40px 0 0 0;
	
}
.slide{
	background:url(../images/bg_slide.png) repeat-x center top;
	width:100%;
	border-bottom:solid 1px #FFF;
	border-top:solid 1px #FFF;
	height:280px;
}


/*------main--------*/
#main{
	margin:auto;
	overflow:hidden;
	background:url(../images/bg_main.gif) repeat-x center top;
	margin-bottom:20px;
}
.bodymain{
	max-width:1260px;
	min-width:1000px;
	margin:auto;
	padding:0 10px;
}
h1{
	text-align:center;
	color:#ff8400;
	margin-bottom:20px;
}
.iconp{
	background:url(../images/iconp.png) no-repeat left top;
}
.tlemenu{
	line-height:47px;
	color:#194284;
	font-size:22px;
	font-weight:normal;
	float:left;
}
.tienich{
	width:100%;
	overflow:hidden;
}
.clum_left1 a{
	float:left;
	padding:135px 15px 15px 15px;
	width:27%;
	border-radius:4px;
	border:solid 1px #cacaca;
	margin-right:15px;
	margin-top:15px;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	color:#194284;
	height:40px;
}
.box1{background:url(../images/ti1.png) no-repeat center 15px;}
.box2{background:url(../images/ti2.png) no-repeat center 15px;}
.box3{background:url(../images/ti3.png) no-repeat center 15px;}
.box4{background:url(../images/ti4.png) no-repeat center 15px;}
.box5{background:url(../images/ti5.png) no-repeat center 15px;}
.box6{background:url(../images/ti6.png) no-repeat center 15px;}
.box7{background:url(../images/ti7.png) no-repeat center 15px;}
.box8{background:url(../images/ti8.png) no-repeat center 15px;}
.box9{background:url(../images/ti9.png) no-repeat center 15px;}
.box10{background:url(../images/ti10.png) no-repeat 5px 5px #194284;}
.box11{background:url(../images/ti11.png) no-repeat 5px 5px #3f6e2f;}

.clum_right1{
	float:right;
	width:23%;
	
}
.clum_right1 a{
	width:70%;
	margin-top:15px;
	font-size:18px;
	text-transform:uppercase;
	color:#fff;
	height:44px;
	padding:25px 0 0 73px;
	float:right;
	
}

.ultienich .litin{
	width:100%;
	padding:20px 0; 
}
.ultienich li img{
}
.ultienich li a{
	font-size:18px;
	text-transform:uppercase;
	color:#194284;
}
.ultienich li p{
	margin-bottom:15px;
}
.colum_left{
	float:left;
	width:480px;
}
.colum_left img{
	margin-top:15px;
}
.tlechuyenmuc{
	background:#f2f2f2;
	border-bottom:3px solid #00a295;
}
.colum_right{
	width:480px;
	float:right;
}
.ultienich{
	overflow:hidden;
}
.tintiep li{
	background:url("../images/li.png") no-repeat left 5px;
	padding-left:20px;
	margin:7px;
}
.atintiep{
	color:#000;
	line-height:18px;
}
.search{
	float:right;
	padding:8px 0;
}

/*---------footer-------------*/
#footer{
	background:#194284;
}
.fleft{
	max-width:1280px;
	min-width:1000px;
	margin:auto;
	overflow:hidden;
	padding:10px;
}
.boxlink_f{
	float:left;
	
}
.menu_footer{
	float:left;
	margin-right:10px;
	border-right:solid 1px #bad1ff;
	padding-right:15px;
	width:233px;
	
}
.menu_footer:last-child{
	margin-right:0;
	border-right:none;
}
h5{
	font-size:13px;
	text-transform:uppercase;
	color:#bad1ff;
	margin-bottom:10px;
}
.menu_footer li{
	height:25px;
}
.menu_footer li a{
	color:#bad1ff;
}
.menu_footer li a:hover{
	text-decoration:underline;
	color:#fff;
}
.box_f{
	overflow:hidden;
	float:right;
}
.logodtt{
	text-align:center;
	float:none;
	margin:10px 3px;
}
.box_f p, .menu_footer p{
	font-size:12px;
	text-align:center;
	color:#bad1ff;
	line-height:16px;
}
.boxlink_f p{
	text-align:left;
	padding:5px 0 5px 0px;
	color:#c3e2e3;
}
.boxlink_f img{
	float:left;
}
.menu_footer p a{
	color:#ff8400;
	font-weight:bold;
}
.menu_footer p span{
	color:#FFF;
	font-size:30px;
	line-height:40px;
}
.box_tin{
	display:inline-block;
	margin-bottom:20px;
}
.box_f p a{
	color:#6a6a6a;
}
.box_f p a:hover{
	color:#FFF;
}

/*---------nap Gcoi-------------*/
.linepage{
	background:#2c7f83;
	height:5px;
	
}
.tabdangnhap{
	height:auto !important;
}
.page{
	background:none !important;
	margin-top:40px !important;
}
.colum1_left{
	float:left;
	width:250px;
}
h4{
	border-radius:5px 5px 0 0;
	background:#2c7f83;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	padding:10px;
}
.colum1_left ul{
	border-left:solid 1px #2c7f83;
	border-right:solid 1px #2c7f83;
	border-bottom:solid 1px #2c7f83;
	padding:10px;
}
.colum1_left ul li{
	background:url("../images/iconbt.png") no-repeat left 13px;
	border-bottom:dotted 1px #e3cfae;
	padding:10px 0 10px 20px;
}
.colum2_right{
	float:right;
	width:735px;
}
.tle1{
	line-height:30px;
	color:#2c7f83;
	padding-left:20px;
	font-size:16px;
	background:url("../images/arrow-r.png") no-repeat left 5px;
	margin-bottom:15px;
}
.box1{
	position:relative;
	border-radius:5px;
	border:solid 1px #2c7f83;
	padding:20px;
	margin-top:30px;
}
.box1 h6{
	color:#2c7f83;
	font-size:14px;
	background:url("../images/bg_body.gif") repeat;
	position:absolute;
	left:20px;
	top:-13px;
}
.box1 .huongdan{
	position:absolute;
	top:-20px;
	right:0;
}
table{
	background:#FFF;
}
table tr th{
	background:#194284;
	color:#FFF;
}
table tr td, table tr th{
	border:solid 1px #c9c9c9;
	padding:6px 12px;
}
table tr td img{
	float:left;
}
.name_nh{
	text-transform:uppercase;
	margin-left:20px;
	line-height:50px;
}
.noidung{
	margin-top:15px;
}
span{
	color:#F00;
	font-weight:bold;
}
.noborder{background:none;}
.noborder tr td{border:none;}
.text_right{text-align:right;}
.nhgiaodich{
	margin-left:0 !important;
	line-height:normal !important;
	
}
.submit, .reset{
	background:#194284;
	color:#FFF;
	border:none;
}
i{
	font-size:11px;
	color:#404040;
	}
.imgtich{
	float:none;
	margin-left:5px;
}


/*-------page-*/
.boxpage{
	border-radius:4px;
	border:solid 1px #194284;
	padding:10px;
	margin-top:15px;
}
.chuyengia, .hoi, .tintuc{
	padding-left:45px;
	border-bottom:solid 1px #194284;
	text-transform:uppercase;
	color:#194284;
	line-height:40px;
	margin-bottom:15px;
}
.hoi{background:url("../images/icon_pageQH.png") no-repeat left top;}
.chuyengia{background:url("../images/icon_pageCG.png") no-repeat left top;}
.tintuc{background:url("../images/icon_tintuc.png") no-repeat left top;}
.tle_center{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;
}
.iconguicauhoi{
	padding:0 !important;
	border:none !important;
	border-radius:0 !important;
	margin-top:3px !important;
	height:22px!important;
	text-transform:none !important;
	width:100% !important;
	font-size:14px !important;
}
.name{
	padding:0 !important;
	border:none !important;
	border-radius:0 !important;
	margin-top:3px !important;
	height:22px!important;
	text-transform:none !important;
	width:100% !important;
	font-size:14px !important;
	text-align:left !important;
	font-weight:bold;
}
.spanli{
	background:url("../images/spanli.png") no-repeat left 5px;
	padding-left:15px;
	color:#000;
	
}
.text_center{
	text-align:center;
}
.noboder tr td{
	border:none !important;
}
.full{
	width:80%;
}
.fulltex{
	width:83.5%;
}
.bt{
	background:#194284;
	border:solid 1px #194284;
	color:#FFF;
}
.text_right{text-align:right;}


/*--------tintuc-----*/
.tintuc p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#03417b;
	margin-left:10px;
	line-height:10px;
	background:#FFF;
	}
.tintop_chuyenmuc{
	border:solid 1px #d8d8d8;
	margin-top:10px;
	padding:10px;
	display:inline-block;
	}
.tintop_chuyenmuc ul{
	width:665px;
}
.tintop_chuyenmuc img{
	float:left;
	}
.tintop_chuyenmuc h2{
	margin-left:370px;
	}
.tintop_chuyenmuc a{
	color:#03417b;
	text-align:justify;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	}
.tintop_chuyenmuc p{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-align:justify;
	margin-top:10px;
	margin-left:370px;
	}

.tintop_chuyenmuc li{
	border-right:1px solid #CCCCCC;
    float: left;
    margin-right:5px;
    width:49%;
	}
.tintop_chuyenmuc img{
	border: 1px solid #C1C1C1;
    float: left;
    margin-right: 10px;
    padding: 2px;
	}
.tintop_chuyenmuc ul li a{
	color: #454545;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: justify;
	}
.tintop_chuyenmuc ul li a:hover{
	text-decoration:underline;
	color:#000;
	}
.chuyenmuc{
	margin-top:5px;
}
.bg_tit_chuyenmuc{
	background: url("../images/bg-title-vb.png") no-repeat left top;
	height: 25px;
    position: relative;
    width: 100%;
	}
.text-title h2{
	background: url("../images/tile_left_1.gif") no-repeat right top;
    display: inline-block;
    height: 21px;
	}
 
.text-title a{
	background: none repeat scroll 0 0 #FFFFFF;
    color: #03417B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 21px;
    margin-left: 30px;
    margin-right: 12px;
    padding: 5px;
    text-transform: uppercase;
	}
.boxtin_chuyenmuc{
	float: left;
	width:65%;
    overflow: hidden;
    padding: 2px;
	margin:10px 0;
}
.boxtin_chuyenmuc img{
	border: 1px solid #C1C1C1;
    float: left;
    margin-right: 10px;
    padding: 2px;
	}
	
.boxtin_chuyenmuc .tle_tin_cm a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#454545;
	text-align:justify;
}
.boxtin_chuyenmuc p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	text-align:justify;
	margin-top:10px;
	}

.boxtinphu_chuyenmuc{
	float:right;
	width:30%;
	margin:10px 0;
	}
.boxtinphu_chuyenmuc ul li{
	float:left;
	margin-top:10px;
	}
.boxtinphu_chuyenmuc ul li .img_s{
	float:left;
	padding:2px;
	margin-right:10px;
	}

.boxtinphu_chuyenmuc ul li a{
	color: #5B5B5B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0;
    text-align: justify;
	}
.boxtinphu_chuyenmuc ul li a:hover{text-decoration:underline;color:#000;}
.boxtinphu_chuyenmuc ul li .icon_sub{
	float:left;
	padding:2px;
	margin-bottom:20px;
	margin-top:5px;
	margin-right:10px;
	}
/*----------tintuc_chuyenmuc----------*/
.tintuc_chuyenmuc{
    overflow: hidden;
	margin-top:10px;
	border-bottom:solid 1px #d8d8d8;
}
.tintuc_chuyenmuc img{
	border: 1px solid #C1C1C1;
    float: left;
    margin-right: 10px;
    padding: 2px;
	margin-bottom:10px;
	}
.tintuc_chuyenmuc .tle_tin_cm a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#454545;
	text-align:justify;
}
.tintuc_chuyenmuc p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	text-align:justify;
	margin-top:10px;
	}
.tle_tin_cm{
	text-align:left;
	text-transform:none;
	background:none;
}
/*-------------tinkhac-----------------*/
.tinkhac{
	position:relative;
	min-height:235px;
	margin-bottom:10px;
	}

.tinkhac p{
	font-size:14px;
	color:#5c5c5c;
	font-weight:bold;
	background:url("../images/icon_tinkhac.png")no-repeat left 6px #fff;
	line-height:30px;
	height:40px;
	padding-left:40px;
	position:absolute;
	z-index:5;
	top:11px;
	left:5px;
	}
.tinkhac ul{
	border:solid 1px #d8d8d8;
	border-radius:4px;
	padding:20px;
	position:absolute;
	top:30px;
	z-index:1;
	}
.tinkhac ul li{
	background:url("../images/icon-sub-menu.png")no-repeat left 6px;
	float:left;
	display:inline-table;
	padding-left:10px;
	margin-top:10px;
}
.tinkhac ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#144e84;
	float:left;
	display:block;
	text-align:justify;
}
.tinkhac ul li a:hover{
	text-decoration:underline;}
	
	
/*---------chitiet_bai-----------*/

.chitiet_bai{
	padding:10px;
	}
.chitiet_bai h2{
	color:#03417B;
    font-family: Arial,Helvetica,sans-serif;
    font-size:16px;
    text-align:justify;
	}
.tomtat{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#6b6b6b;
	text-align:justify;
	margin-top:10px;
	}
.text_noidung{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:nomal;
	color:#000;
	text-align:justify;
	margin-top:10px;
	line-height:20px;
	}
.thumbnail_s{
	float:left;
	margin-right:10px;
	margin-top:10px;
	}
.thumbnail_b{
	margin-top:10px;
	}
.images{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
	font-weight:normal;
	margin-top:10px;
	text-align:center;
	border:none;
	}
.Normal{
	font-weight:bold;
	color:#000;
	text-align:right;
	}
.tienich_bai{
	margin-bottom:20px;
	}
.tienich_bai ul{
	float:right;
}

.tienich_bai ul li{
	float:left;
	padding-right:10px;
	line-height:20px;
	}
.tienich_bai ul li a{
	color: #144E84;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
	margin-left:20px;
}

.tienich_bai ul li a:hover{text-decoration:underline;}

.tienich_bai ul .ykien_cuaban{background:url("../images/icon_ykien_cuaban.png")no-repeat left 3px;}
.tienich_bai ul .guicho_banbe{background:url("../images/icon_guimail.png")no-repeat left 3px;}
.tienich_bai ul .inbai{background:url("../images/icon_mayin.png")no-repeat left 3px;}
.tienich_bai ul .trolai{background:url("../images/icon_trolai.png")no-repeat left 3px;}

/*----------hotro----------*/
.boxhotro{
	
}
.boxhotro .lastli{
	position:relative;
	z-index:10;
	color:#000000;
}
.boxhotro li .textht{
	display:block;/*1*/
	color:#FFF;
	padding:0px 10px 19px 10px !important;
	background:url(../images/tinhan.png) no-repeat left top;
	position:relative;
}
.boxhotro li ul{
	position:absolute;
	left:-95px;
	top:19px;
	display:none;/*2*/
	background:#fff !important;
	border:solid 1px #c1c1c1;
	width:300px;
	height:auto !important;
	padding-right:0 !important;
	text-align:left !important;
}
.boxhotro li:hover ul{
	display:block;/*3*/
}
.boxhotro li ul .lileft{
	
}

.divleft{
	display:block;
	margin:10px 10px 0 10px;
}
.divleft p{
	border-bottom:1px solid #e1e1e1;
	margin:5px 0;
	padding:5px 0;
}
.divleft ul{
	position:inherit !important;
	border:none !important;
	background:none !important;
	overflow:hidden;
	margin:5px 0;
	
}
.divleft ul li{
	float:left;
	text-transform:none;
	margin-right:15px;
}
.name{
	color:#FF6600 !important;
}
.phone{
	color:#F00 !important;
	font-size:13px;
}
.mail{
	color:#090;
}
h4{
	color:#666;
	border-bottom:1px solid #e1e1e1;
	margin-bottom:5px;
}
.liright{
	padding:10px;
	overflow:hidden;
	background:url(../images/hotro.jpg) no-repeat right top;
	height:235px;
}
.liright .textright{
	font-weight:normal;
	text-transform:none;
	padding-left:15px;
	background:url(../images/arrow-gray.png) no-repeat left 4px;
	margin:10px 0;
	color:#666;
}
.imgleft{
	padding:5px 5px 5px 0 !important;
}
.imgleft img{
	float:left;
	margin-right:10px;
}
.imgright{
	float:right;
}
.tieudehoi a{
	color:#333 !important;
	font-size:12px;
	text-transform:none !important;
	font-weight:normal !important;
}
.text_thongbao{
	font-size:13px;
	color:#194284;
	background:#f0f0f0;
	border-bottom:1px solid #c1c1c1;
	padding:3px;
}
.xemtat{
	background:#f0f0f0;
	border-top:1px solid #c1c1c1;
	width:100%;
	text-align:center;
	padding:3px 0;
}
.xemtat a{
	color:#194284 !important;
	text-transform:none !important;
	
}




