<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="nhaxahoi-home-theme">
        <wb-resource deploy-path="/" source-path="/docroot" tag="defaultRootSource"/>
        <property name="context-root" value="nhaxahoi-home-theme"/>
        <property name="java-output-path" value="/nhaxahoi-home-theme/build/classes"/>
    </wb-module>
</project-modules>
