* {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

body {
  font-size: 12px;
  font-family: Tahoma;
  background: #cae5f4;
  position: relative;
  color: #000;
  width: 100%; }

/* -----------header------------*/
#conten {
  background: url("../images/bg_conten.png") repeat-x center top;
  width: 100%;
  position: relative; }

span#logo {
  background: url("../images/logo.png") no-repeat 10px 8px;
  padding-left: 90px;
  height: 67px;
  display: inline-block; }

p#slogan {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 36px;
  font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif; }

#menu {
  position: absolute;
  right: 0;
  top: 8px;
  display: inline-block;
  background: url("../images/ures.png") no-repeat left top;
  padding-left: 20px; }

#menu ul li {
  float: left;
  color: #a1a1a1;
  border-right: solid 1px #999;
  margin-right: 20px;
  padding-right: 20px; }

#menu ul li:last-child {
  border-right: none; }

#menu ul li a {
  color: #a1a1a1; }

#menu ul li a:hover {
  color: #fff; }

#menu ul li span {
  font-weight: bold;
  color: #fff; }

.capnhat {
  border: solid 1px #c2ab7b;
  border-radius: 4px;
  position: absolute;
  left: 3px;
  top: 51px;
  height: 90px;
  width: 57px;
  background: url("../images/bg_capnhat.png") repeat-x left top; }

.bt_capnhat {
  border: solid 1px #fff;
  border-radius: 3px;
  background: url("../images/bt_capnhat.png") no-repeat center 20px;
  height: 90px;
  width: 100%;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #003317;
  padding-top: 35px; }

.capnhat:hover {
  background: url("../images/bg_capnhat_h.png") repeat-x left top; }

/*----------tabmenu--------------*/
.tabmenu {
  position: absolute;
  left: 90px;
  bottom: 0; }

.tabmenu li.menuchinh {
  float: left;
  height: 24px;
  padding: 0 10px;
  border: solid 1px transparent;
  margin: 0 6px; }

.tabmenu li.menuchinh:hover {
  background: url("../images/bg_btpro.png") repeat-x left top;
  border: solid 1px #c2ab7b;
  border-radius: 4px;
  height: 24px; }

.tabmenu li.menuchinh a {
  color: #000;
  line-height: 22px; }

.tabmenu li.menuchinh_at {
  background: url("../images/bg_btpro.png") repeat-x left top;
  border: 1px solid #c2ab7b;
  border-radius: 4px;
  float: left;
  height: 24px;
  padding: 0 10px; }

.tabmenu li.menuchinh_at a {
  color: #000;
  font-weight: bold;
  line-height: 22px; }

.tab1 li.boxbt {
  border: solid 1px #cae1ce;
  border-radius: 3px;
  background-color: #dff6e3;
  height: 84px;
  display: inline-block;
  float: left;
  margin-right: 2px; }

.tab1 li.boxbt .texttlebt {
  background-color: #d5efda;
  border-radius: 0 0 3px 3px;
  padding: 1px 3px;
  color: #5a9064;
  margin-top: 69px; }

/*-----------btchucnang----------*/
.pro {
  margin-left: 3px;
  margin-right: 3px; }

.tab1 {
  border-radius: 4px;
  border: solid 1px #a2c2a8;
  background-color: #e3f9e7;
  padding: 1px;
  margin-left: 110px;
  height: 22px; }

.tab1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 14px; }

.dsach {
  background: url("../images/icon_dsach.png") no-repeat left 4px;
  color: #003317;
  cursor: pointer;
  font-family: tahoma;
  font-size: 11px;
  height: 22px;
  padding-left: 20px; }

.button.btpro:hover {
  background: url("../images/bg_btpro.png") repeat-x left top;
  border: solid 1px #c2ab7b;
  border-radius: 4px; }

.search {
  border: solid 1px #DCDCDC;
  border-radius: 5px;
  height: 40px;
  margin: auto;
  background: #F9F8F8;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  padding: 1px; }

.text_search {
  font-size: 16px;
  font-family: Tahoma;
  padding: 5px;
  border-radius: 4px 0 0 4px;
  height: 30px;
  background: #F9F8F8;
  float: left;
  width: 75%;
  color: #292929; }

.bt_search {
  background: url("../images/searchicon.png") no-repeat left top #ab0000;
  float: right;
  border-radius: 0 4px 4px 0;
  width: 22%;
  height: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-family: MyriadPro-LightCond,Arial,Helvetica,sans-serif;
  font-size: 25px;
  cursor: pointer; }

.boxnangcao {
  width: 50%;
  margin: auto; }

.nangcao {
  color: #014175;
  line-height: 30px; }

.box_btchucnang_an {
  opacity: 0.3;
  float: left; }

.sua32 {
  background: url("../icon32/sua.png") no-repeat center 8px;
  height: 68px;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #003317;
  padding: 35px 4px 0; }

.box_btchucnang {
  height: 63px;
  margin: 1px;
  float: left;
  background: url("../images/bg62.png") repeat-x left top;
  border: solid 1px #c2ab7b;
  border-radius: 3px; }

.box_btchucnang:hover {
  background: #000;
  height: 63px;
  margin: 1px;
  float: left;
  border: solid 1px #c2ab7b;
  border-radius: 3px; }

.xoa32, .quaylai32 {
  border: solid 1px #fff;
  border-radius: 3px;
  cursor: pointer;
  background: url("../images/xoa.png") no-repeat center 5px;
  height: 63px;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #003317;
  padding: 35px 4px 0; }

/*--------main-----*/
#main {
  width: 100%;
  display: inline-block; }

#main_left {
  width: 300px;
  float: left;
  margin: 3px 0 3px 3px; }

.tit_tab {
  display: inline-block;
  position: absolute;
  z-index: 5; }

.tit_tab li.tabtrang {
  float: left;
  height: 20px; }

.tit_tab li.tabtrang a {
  background: url("../images/tabtrang_l.png") no-repeat left top;
  padding: 4px 0 5px 7px;
  line-height: 20px;
  color: #003317; }

.tit_tab li.tabtrang a span {
  background: url("../images/tabtrang_r.png") no-repeat right top;
  padding: 4px 15px 5px 0; }

.tit_tab li.tabtrang_at {
  float: left;
  height: 20px; }

.tit_tab li.tabtrang_at a {
  background: url("../images/tabtrang_atl.png") no-repeat left top;
  padding: 4px 0 5px 7px;
  line-height: 20px;
  color: #003317;
  font-weight: bold;
  color: #003317; }

.tit_tab li.tabtrang_at a span {
  background: url("../images/tabtrang_atr.png") no-repeat right top;
  padding: 4px 15px 5px 0; }

.box {
  background: #FFF;
  border-radius: 5px;
  border: solid 1px #9DCAE3;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px; }

.vongdoi {
  position: absolute;
  bottom: 0;
  border-top: dotted 1px #cfe9d4;
  background: #e2f7e5;
  width: 100%;
  text-align: center;
  line-height: 20px; }

.vongdoi a {
  color: #003317; }

.tle {
  border-bottom: solid 1px #a2c2a8;
  height: 24px;
  background: url("../images/bg_tle.png") repeat-x left top;
  border-radius: 5px 5px 0 0; }

p.texttle {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px; }

.dgdan {
  border: solid 1px #9dcae3;
  border-radius: 4px;
  background-color: #d7f0fd;
  margin-bottom: 10px;
  padding: 3px;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9); }

.dgdan p {
  line-height: 19px;
  margin-left: 5px; }

.dgdan p a {
  color: #262626; }

.dgdan p a:hover {
  color: #003317; }

#main_right {
  padding: 10px;
  position: relative; }

.box_nd {
  padding: 3px; }

.truong {
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  background-color: #f9f8f8;
  padding: 5px;
  margin-bottom: 5px; }

.table1 {
  width: 100%; }

.table1 td {
  padding: 2px; }

input.user {
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  font-size: 12px;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  padding: 4px;
  width: 240px; }

select#select {
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  padding: 4px;
  font-size: 12px;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  width: 250px; }

input.check {
  border: 1px solid #C6C6C6; }

p.textphu {
  color: #6d6d6d; }

.boxnd1 {
  margin-bottom: 5px; }

.bt {
  display: inline-block; }

.button {
  border: solid 1px #DCDCDC;
  border-radius: 4px;
  background: url("../images/bg_tle.png") repeat-x left top;
  height: 24px;
  float: left;
  margin-right: 5px;
  padding: 0 6px;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9); }

.button:hover {
  background: url("../images/icon_timkiem_hover.png") repeat-x left top; }

.icon_tk, .icon_macdinh, .icon_xoa, .icon_them, .icon_sua, .icon_save, .icon_thutu, .icon_lammoi, .icon_huy {
  font-size: 11px;
  cursor: pointer;
  font-family: tahoma;
  height: 22px;
  color: #000;
  padding-left: 20px; }

.icon_tk {
  background: url("../images/icon_timkiem.png") no-repeat left 4px; }

.icon_macdinh {
  background: url("../images/icon_macdinh.png") no-repeat left 2px; }

.icon_them {
  background: url("../images/icon_them.png") no-repeat left 4px; }

.icon_xoa {
  background: url("../images/icon_xoa.png") no-repeat left 4px; }

.icon_sua {
  background: url("../images/edit.png") no-repeat left 4px; }

.icon_save {
  background: url("../images/save.png") no-repeat left 4px; }

.icon_thutu {
  background: url("../images/thutu.png") no-repeat left 4px; }

.icon_lammoi {
  background: url("../images/lammoi.png") no-repeat left 4px; }

.icon_huy {
  background: url("../images/huy.png") no-repeat left 4px; }

.phantrang {
  margin-top: 10px;
  display: inline; }

.sotrang {
  float: right;
  padding: 4px 0; }

.back, .top, .so, .next, .end, .active {
  border: solid 1px #DCDCDC;
  padding: 4px 10px;
  color: #000;
  margin: 0 3px; }

.end {
  margin: 0; }

.sotrang a:hover {
  background-color: #DCDCDC; }

.active {
  background: #DCDCDC; }

.back {
  background: url("../images/back.png") no-repeat center 8px; }

.top {
  background: url("../images/top.png") no-repeat center 8px; }

.next {
  background: url("../images/next.png") no-repeat center 8px; }

.end {
  background: url("../images/end.png") no-repeat center 8px; }

.table2 {
  border: solid 1px #a2c2a8;
  border-collapse: collapse;
  margin: 5px 0;
  width: 100%; }

.table2 th {
  background: #F9F8F8;
  border: solid 1px #DCDCDC;
  padding: 5px; }

.table2 tr:hover {
  background: #F9F8F8; }

.table2 td {
  border: solid 1px #DCDCDC;
  padding: 5px; }

/*-------------boxchung-------------*/
.boxchung {
  margin: 5px 0;
  width: 100%;
  display: inline-block; }

.tleboxchung {
  position: absolute;
  margin-left: 15px;
  background: #FFF;
  z-index: 20;
  padding: 0 2px;
  font-family: MyriadPro-LightCond, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #232323;
  font-weight: normal; }

.boder {
  border: 1px solid #DCDCDC;
  border-radius: 5px 5px 5px 5px;
  padding: 14px;
  margin-top: 20px;
  z-index: 2;
  display: flex; }

.tieude {
  border-bottom: solid 3px #DCDCDC;
  border-top: solid 1px #DCDCDC;
  width: 100%;
  overflow: hidden;
  margin: 10px 0; }

.tentieude {
  font-family: MyriadPro-LightCond, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #232323;
  font-weight: normal; }

/*--------footer-----*/
#footer {
  background: url("../images/bg_footer.png") repeat-x left top;
  position: fixed;
  width: 100%;
  height: 21px;
  bottom: 0; }

#footer p {
  color: #c0c0c0;
  line-height: 21px; }

