* {
  margin: 0;
  padding: 0; }

ol, ul, li {
  list-style: none; }

body {
  font-size: 12px;
  font-family: Tahoma;
  background: #aed4e9;
  position: relative;
  color: #000;
  min-width: 1000px;
  width: 100%; }

/* -----------header------------*/
#conten {
  background: url(../images/bg_conten.png) repeat-x center top;
  width: 100%;
  position: relative; }

span#logo {
  background: url(../images/logo.png) no-repeat 10px 8px;
  padding-left: 90px;
  height: 67px;
  display: inline-block; }

p#slogan {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  line-height: 36px;
  font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif; }

#menu {
  position: absolute;
  right: 0;
  top: 8px;
  display: inline-block;
  background: url(../images/ures.png) no-repeat left top;
  padding-left: 20px; }

#menu ul li {
  float: left;
  color: #a1a1a1;
  border-right: solid 1px #999;
  margin-right: 20px;
  padding-right: 20px; }

#menu ul li:last-child {
  border-right: none; }

#menu ul li a {
  color: #a1a1a1; }

#menu ul li a:hover {
  color: #fff; }

#menu ul li span {
  font-weight: bold;
  color: #fff; }

.capnhat {
  border: solid 1px #c2ab7b;
  border-radius: 4px;
  position: absolute;
  left: 3px;
  top: 51px;
  height: 90px;
  width: 57px;
  background: url(../images/bg_capnhat.png) repeat-x left top; }

.bt_capnhat {
  border: solid 1px #fff;
  border-radius: 3px;
  background: url(../images/bt_capnhat.png) no-repeat center 20px;
  height: 90px;
  width: 100%;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #003317;
  padding-top: 35px; }

.capnhat:hover {
  background: url(../images/bg_capnhat_h.png) repeat-x left top; }

/*----------tabmenu--------------*/
.tabmenu {
  position: absolute;
  left: 90px;
  bottom: 0; }

.tabmenu li.menuchinh {
  float: left;
  height: 24px;
  padding: 0 10px;
  border: solid 1px transparent;
  margin: 0 6px; }

.tabmenu li.menuchinh:hover {
  background: url(../images/bg_btpro.png) repeat-x left top;
  border: solid 1px #c2ab7b;
  border-radius: 4px;
  height: 24px; }

.tabmenu li.menuchinh a {
  color: #000;
  line-height: 22px; }

.tabmenu li.menuchinh_at {
  background: url(../images/bg_btpro.png) repeat-x left top;
  border: 1px solid #c2ab7b;
  border-radius: 4px;
  float: left;
  height: 24px;
  padding: 0 10px; }

.tabmenu li.menuchinh_at a {
  color: #000;
  font-weight: bold;
  line-height: 22px; }

.tab1 li.boxbt {
  border: solid 1px #cae1ce;
  border-radius: 3px;
  background-color: #dff6e3;
  height: 84px;
  display: inline-block;
  float: left;
  margin-right: 2px; }

.tab1 li.boxbt .texttlebt {
  background-color: #d5efda;
  border-radius: 0 0 3px 3px;
  padding: 1px 3px;
  color: #5a9064;
  margin-top: 69px; }

/*-----------btchucnang----------*/
.pro {
  margin-left: 3px;
  margin-right: 3px; }

.tab1 {
  border-radius: 4px;
  border: solid 1px #a2c2a8;
  background-color: #e3f9e7;
  padding: 1px;
  margin-left: 110px;
  height: 22px; }

.tab1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 22px;
  font-size: 14px; }

.dsach {
  background: url(../images/icon_dsach.png) no-repeat left 4px;
  color: #003317;
  cursor: pointer;
  font-family: tahoma;
  font-size: 11px;
  height: 22px;
  padding-left: 20px; }

.button.btpro:hover {
  background: url(../images/bg_btpro.png) repeat-x left top;
  border: solid 1px #c2ab7b;
  border-radius: 4px; }

.search {
  border: solid 1px #DCDCDC;
  border-radius: 5px;
  height: 40px;
  margin: auto;
  background: #F9F8F8;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  padding: 1px; }

.text_search {
  font-size: 16px;
  font-family: Tahoma;
  padding: 5px;
  border-radius: 4px 0 0 4px;
  height: 30px;
  background: #F9F8F8;
  float: left;
  width: 75%;
  color: #292929; }

.bt_search {
  background: url(../images/searchicon.png) no-repeat left top #ab0000;
  float: right;
  border-radius: 0 4px 4px 0;
  width: 22%;
  height: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-family: MyriadPro-LightCond,Arial,Helvetica,sans-serif;
  font-size: 25px;
  cursor: pointer; }

.boxnangcao {
  width: 50%;
  margin: auto; }

.nangcao {
  color: #014175;
  line-height: 30px; }

.box_btchucnang_an {
  opacity: 0.3;
  float: left; }

.sua32 {
  background: url(../icon32/sua.png) no-repeat center 8px;
  height: 68px;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #003317;
  padding: 35px 4px 0; }

.box_btchucnang {
  height: 63px;
  margin: 1px;
  float: left;
  background: url(../images/bg62.png) repeat-x left top;
  border: solid 1px #c2ab7b;
  border-radius: 3px; }

.box_btchucnang:hover {
  background: #000;
  height: 63px;
  margin: 1px;
  float: left;
  border: solid 1px #c2ab7b;
  border-radius: 3px; }

.xoa32, .quaylai32 {
  border: solid 1px #fff;
  border-radius: 3px;
  cursor: pointer;
  background: url(../images/xoa.png) no-repeat center 5px;
  height: 63px;
  font-size: 11px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #003317;
  padding: 35px 4px 0; }

/*--------main-----*/
#main {
  width: 100%;
  background: url(../images/bg_conten_login.png) repeat center top;
  position: fixed;
  height: 400px; }

#main_left {
  width: 300px;
  float: left;
  margin: 3px 0 3px 3px; }

.tit_tab {
  display: inline-block;
  position: absolute;
  z-index: 5; }

.tit_tab li.tabtrang {
  float: left;
  height: 20px; }

.tit_tab li.tabtrang a {
  background: url(../images/tabtrang_l.png) no-repeat left top;
  padding: 4px 0 5px 7px;
  line-height: 20px;
  color: #003317; }

.tit_tab li.tabtrang a span {
  background: url(../images/tabtrang_r.png) no-repeat right top;
  padding: 4px 15px 5px 0; }

.tit_tab li.tabtrang_at {
  float: left;
  height: 20px; }

.tit_tab li.tabtrang_at a {
  background: url(../images/tabtrang_atl.png) no-repeat left top;
  padding: 4px 0 5px 7px;
  line-height: 20px;
  color: #003317;
  font-weight: bold;
  color: #003317; }

.tit_tab li.tabtrang_at a span {
  background: url(../images/tabtrang_atr.png) no-repeat right top;
  padding: 4px 15px 5px 0; }

.box {
  background: #FFF;
  border-radius: 5px;
  border: solid 1px #9DCAE3;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px; }

.vongdoi {
  position: absolute;
  bottom: 0;
  border-top: dotted 1px #cfe9d4;
  background: #e2f7e5;
  width: 100%;
  text-align: center;
  line-height: 20px; }

.vongdoi a {
  color: #003317; }

.tle {
  border-bottom: solid 1px #a2c2a8;
  height: 24px;
  background: url(../images/bg_tle.png) repeat-x left top;
  border-radius: 5px 5px 0 0; }

p.texttle {
  font-size: 12px;
  font-weight: bold;
  line-height: 22px; }

.dgdan {
  border: solid 1px #9dcae3;
  border-radius: 4px;
  background-color: #d7f0fd;
  margin-bottom: 10px;
  padding: 3px;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9); }

.dgdan p {
  line-height: 19px;
  margin-left: 5px; }

.dgdan p a {
  color: #262626; }

.dgdan p a:hover {
  color: #003317; }

#main_right {
  padding: 10px;
  position: relative; }

.box_nd {
  padding: 3px; }

.truong {
  border: solid 1px #dcdcdc;
  border-radius: 5px;
  background-color: #f9f8f8;
  padding: 20px;
  margin-bottom: 5px; }

.table1 {
  width: 100%; }

.table1 td {
  padding: 6px; }

input.user {
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  font-size: 12px;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  width: 98%;
  float: left;
  height: 24px;
  padding: 0 1%; }

input.userlogin {
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  font-size: 12px;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  padding: 5px;
  width: 66%;
  float: right;
  margin: 5px 0; }

select#select {
  border: solid 1px #dcdcdc;
  border-radius: 4px;
  height: 28px;
  font-size: 12px;
  font-family: tahoma, Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 4px 0; }

.texta {
  border: 1px solid #C6C6C6;
  padding: 4px; }

input.check {
  border: 1px solid #C6C6C6; }

p.textphu {
  color: #6d6d6d; }

.boxnd1 {
  margin-bottom: 5px; }

.bt {
  display: inline-block; }

.button {
  border: solid 1px #DCDCDC;
  border-radius: 4px;
  background: url(../images/bg_tle.png) repeat-x left top;
  height: 24px;
  float: left;
  margin-right: 5px;
  padding: 0 6px;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9); }

.button:hover {
  background: url(../images/icon_timkiem_hover.png) repeat-x left top; }

.icon_tk, .icon_macdinh, .icon_xoa, .icon_them, .icon_sua, .icon_save, .icon_thutu, .icon_lammoi, .icon_huy {
  font-size: 11px;
  cursor: pointer;
  font-family: tahoma;
  height: 22px;
  color: #000;
  padding-left: 20px; }

.icon_tk {
  background: url(../images/icon_timkiem.png) no-repeat left 4px; }

.icon_macdinh {
  background: url(../images/icon_macdinh.png) no-repeat left 2px; }

.icon_them {
  background: url(../images/icon_them.png) no-repeat left 4px; }

.icon_xoa {
  background: url(../images/icon_xoa.png) no-repeat left 4px; }

.icon_sua {
  background: url(../images/edit.png) no-repeat left 4px; }

.icon_save {
  background: url(../images/save.png) no-repeat left 4px; }

.icon_thutu {
  background: url(../images/thutu.png) no-repeat left 4px; }

.icon_lammoi {
  background: url(../images/lammoi.png) no-repeat left 4px; }

.icon_huy {
  background: url(../images/huy.png) no-repeat left 4px; }

.phantrang {
  margin-top: 10px;
  display: inline; }

.sotrang {
  float: right;
  padding: 4px 0; }

.back, .top, .so, .next, .end, .active {
  border: solid 1px #DCDCDC;
  padding: 4px 10px;
  color: #000;
  margin: 0 3px; }

.end {
  margin: 0; }

.sotrang a:hover {
  background-color: #DCDCDC; }

.active {
  background: #DCDCDC; }

.back {
  background: url(../images/back.png) no-repeat center 8px; }

.top {
  background: url(../images/top.png) no-repeat center 8px; }

.next {
  background: url(../images/next.png) no-repeat center 8px; }

.end {
  background: url(../images/end.png) no-repeat center 8px; }

.table2 {
  border: solid 1px #a2c2a8;
  border-collapse: collapse;
  margin: 5px 0;
  width: 100%; }

.table2 th {
  background: #F9F8F8;
  border: solid 1px #DCDCDC;
  padding: 5px; }

.table2 tr:hover {
  background: #F9F8F8; }

.table2 td {
  border: solid 1px #DCDCDC;
  padding: 5px; }

/*-------------boxchung-------------*/
.boxchung {
  margin: 5px 0;
  width: 100%;
  display: inline-block; }

.tleboxchung {
  position: absolute;
  margin-left: 15px;
  background: #FFF;
  z-index: 20;
  padding: 0 2px;
  font-family: MyriadPro-LightCond, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #232323;
  font-weight: normal; }

.boder {
  border: 1px solid #DCDCDC;
  border-radius: 5px 5px 5px 5px;
  padding: 14px;
  margin-top: 20px;
  z-index: 2;
  display: flex; }

.tieude {
  border-bottom: solid 3px #DCDCDC;
  border-top: solid 1px #DCDCDC;
  width: 100%;
  overflow: hidden;
  margin: 10px 0; }

.tentieude {
  font-family: MyriadPro-LightCond, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #232323;
  font-weight: normal; }

/*--------footer-----*/
#footer {
  background: url(../images/bg_footer.png) repeat-x left top;
  position: fixed;
  width: 100%;
  height: 21px;
  bottom: 0; }

#footer p {
  color: #c0c0c0;
  line-height: 21px; }

/*-----------login-----*/
#bgpagelogin {
  background: url(../images/logo_tthc.png) no-repeat center 25px #1d7dd1; }

.headerlogin {
  background: #0e62ab !important;
  height: 32px;
  border-bottom: solid 1px #275f8d; }

.menu_pagelogin {
  margin: auto;
  width: 1000px;
  text-align: right; }

.menu_pagelogin ul {
  float: left; }

.menu_pagelogin ul li {
  float: left;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #63accd; }

.menu_pagelogin ul li a {
  color: #fff; }

.menu_pagelogin ul li a:hover {
  color: #79cbff; }

#mainlogin {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  position: fixed; }

#footerlogin {
  width: 100%;
  background: #0e62ab;
  padding: 10px 0;
  border-top: 1px solid #275f8d;
  position: fixed;
  bottom: 0; }

#footerlogin p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif; }

#footerlogin p span {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold; }

.wrapperlogin {
  width: 1000px;
  margin: auto; }

.wrapperlogin_left {
  float: left;
  width: 24%; }

.wrapperlogin_right {
  margin: auto;
  width: 754px; }

.bg_login {
  widht: 754px;
  height: 369px;
  background: url(../images/bg_login.png) no-repeat center top;
  position: relative;
  overflow: hidden; }

.logo_login {
  text-align: center; }

.fonttc_login {
  font-family: MyriadPro-Cond,Arial,Helvetica,sans-serif;
  color: #FFF;
  font-size: 18px;
  text-align: justify;
  padding-top: 300px; }

.xephang {
  margin: auto;
  width: 585px;
  padding-top: 50px; }

.xephang_left {
  float: left;
  color: #FFF;
  font-family: MyriadPro-Cond,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 22px; }

.xephang_right {
  float: right;
  color: #FFF;
  font-family: MyriadPro-Cond,Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-size: 22px; }

.xephang_left:hover, .xephang_right:hover {
  color: #F00; }

.form_login {
  margin: 15px auto;
  width: 360px;
  border: solid 1px #ababab;
  border-radius: 4px;
  padding: 10px;
  overflow: inherit;
  height: 236px; }

.tlelogin {
  font-family: MyriadPro-Cond,Arial,Helvetica,sans-serif;
  font-size: 24px;
  color: #7C7C7C;
  font-weight: normal;
  border-bottom: solid 1px #C2C3C2;
  padding-bottom: 10px; }

.tlelogin span {
  text-transform: uppercase;
  font-family: MyriadPro-Regular, Arial, Helvetica, sans-serif;
  font-size: 34px;
  color: #7C7C7C; }

.bgtle_log {
  background: url(../images/icon_us.png) no-repeat 10px 20px;
  padding-left: 110px; }

.form {
  width: 100%;
  float: right;
  overflow: inherit;
  padding-top: 10px; }

.in {
  width: 250px;
  float: right;
  border-bottom: solid 1px #c2c3c2;
  padding-bottom: 20px; }

#bg_login p {
  width: 100%;
  margin-bottom: 15px;
  float: left; }

#bg_login label {
  width: 25%;
  float: left;
  margin-right: 10px;
  color: #0061a7;
  line-height: 20px; }

#bg_login p a {
  color: #0061a7;
  line-height: 25px;
  font-size: 11px; }

#bg_login p a:hover {
  color: #000; }

#select {
  width: 63%;
  float: left;
  padding: 2px 5px;
  border: #bd3333 1px solid; }

#bg_login input {
  width: 65%;
  float: left;
  padding: 2px 5px;
  border: solid 1px #85b3ed;
  border-radius: 5px 5px 5px 5px;
  background: url(../images/bg_flogin.png) repeat left top; }

.fontcheck {
  font-family: MyriadPro-Cond, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #7c7c7c;
  line-height: 30px; }

.check_mk {
  margin-right: 5px; }

#bg_login input.submit, #bg_login input.cancel {
  cursor: pointer; }

input.submit {
  border: solid 1px #DCDCDC;
  border-radius: 4px;
  background: url(../images/bg_tle_log.png) repeat-x left top;
  height: 30px;
  float: right;
  padding: 0 6px;
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-family: MyriadPro-Cond, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #7c7c7c; }

#bg_login input.submit:hover {
  color: #000; }

#bg_login input.cancel {
  width: 80px;
  float: left; }

/*--------CN---*/
.line {
  padding: 5px 0;
  overflow: hidden;
  max-width: 1280px;
  min-width: 1024px;
  margin: auto; }

.boxcn {
  width: 33.33%;
  float: left; }

.boxcn_left, .boxcn_right, .boxcn_center {
  width: 300px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px; }

.boxcn_left {
  float: left; }

.boxcn_right {
  float: right; }

.boxcn_center {
  margin: auto;
  overflow: hidden; }

.icon_cn {
  float: left; }

.list_cn {
  float: right;
  width: 220px; }

h3 {
  font-family: MyriadPro-SemiboldCond, Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #014175;
  font-weight: normal;
  margin-bottom: 10px; }

.list_cn li {
  border-bottom: 1px solid #dcdcdc;
  background: url(../images/li_cn.png) no-repeat left 11px;
  padding-left: 13px;
  height: 30px;
  line-height: 30px; }

.hai {
  width: 50%; }

.khoitao, .nhaplai, .pheduyet, .chuyen, .cus {
  padding: 3px 6px;
  border-radius: 6px;
  display: inline-block; }

.khoitao {
  border: solid 1px #00b83d;
  color: #00b83d; }

.nhaplai {
  border: solid 1px #ff0000;
  color: #ff0000; }

.pheduyet {
  border: solid 1px #007eff;
  color: #007eff; }

.chuyen {
  border: solid 1px #90C;
  color: #90C; }

.cus {
  border: solid 1px #00F;
  color: #00F; }

.ghichu {
  font-style: italic;
  font-size: 11px;
  color: #F00; }

/*------xep hang----------*/
.tang, .giam {
  font-weight: bold;
  display: inline-block;
  padding: 0 15px; }

.tang {
  color: #007f1b;
  background: url(../images/tang.png) no-repeat right 6px; }

.giam {
  color: #ff0000;
  background: url(../images/giam.png) no-repeat right 6px; }

.thuong {
  color: #009cff;
  background: url(../images/bthuong.png) no-repeat center 5px;
  text-indent: -9999px;
  display: inline-block;
  width: 11px; }

.nhat, .nhi, .ba {
  font-weight: bold; }

.nhat {
  font-size: 14px; }

.nhi {
  font-size: 13px; }

.nhi {
  font-size: 12px; }

.chan {
  background: #f9f8f8; }

.bgpage {
  background: none !important;
  position: inherit !important; }

/*-----------boxsearch-----*/
.inputleft {
  float: left;
  width: 40%;
  border-right: solid 1px #CCC; }

.select1 {
  border-radius: 4px;
  font-family: tahoma,Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: 40px;
  padding: 4px 0;
  width: 35%;
  background: #f9f8f8; }

/*----------phantrang----*/
.phantrang p span {
  font-size: 14px;
  font-weight: bold;
  border: solid 1px #CCCCCC;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 0 5px; }

.boxphantrang {
  margin: 10px 0; }

/*-----------boxsearch-----*/
.inputleft {
  float: left;
  width: 40%;
  border-right: solid 1px #CCC; }

.select1 {
  border-radius: 4px;
  font-family: tahoma,Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: 40px;
  padding: 4px 0;
  width: 78%;
  background: #f9f8f8; }

.w100 {
  width: 100%; }

.search1 {
  overflow: hidden;
  margin-top: 10px;
  margin-left: -115px; }

.search1 label {
  float: left;
  margin-right: 10px;
  line-height: 40px; }

.inputbo {
  border: #CCC 1px solid;
  border-radius: 4px;
  width: 150px;
  margin-right: 10px; }

