.portlet-dockbar, .portlet-staging-bar {
  background: url(../images/application/loading_indicator.gif) no-repeat 50%; }

.portlet-dockbar {
  background-color: #E0E7F1;
  border-bottom: 1px solid #636364; }

.dockbar, .staging-bar {
  visibility: hidden; }

.dockbar-ready .dockbar, .staging .staging-bar, .live-view .staging-bar {
  visibility: visible; }

.dockbar-ready .portlet-dockbar, .staging-ready .portlet-staging-bar, .portal-popup .portlet-dockbar, .portal-popup .portlet-staging-bar {
  background: none;
  border-width: 0; }

.dockbar {
  background: #97a1ae url(../images/dockbar/dockbar_bg.png) repeat-x 0 0;
  border-bottom: 1px solid #636364;
  font-size: 13px;
  padding: 1px 5px;
  position: relative;
  z-index: 300; }

.dockbar:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.ie7 .dockbar {
  zoom: 1; }

.ie6 .dockbar, .ie6 .lfr-dockbar-pinned .dockbar {
  height: 10px;
  left: 0;
  position: relative;
  top: 0; }

.dockbar a {
  color: #2C2F34;
  font-weight: bold;
  text-shadow: 1px 1px #FFF; }

.dockbar .menu-button-active {
  background: #5c94da url(../images/dockbar/button_active_bg.png) repeat-x 0 0; }

.dockbar .menu-button-active a {
  color: #FFF;
  text-shadow: -1px -1px #2C2F34; }

.dockbar .user-avatar .sign-out {
  font-size: 0.8em;
  padding-left: 0; }

.dockbar ul {
  margin: 0;
  padding: 0; }

.dockbar li li {
  margin-left: 0; }

html > .lfr-dockbar-pinned {
  padding-top: 3.45em; }

.lfr-dockbar-pinned .dockbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

.dockbar .pin-dockbar {
  margin-left: 0; }

.ie6 .dockbar .pin-dockbar {
  display: none; }

.pin-dockbar img {
  background: url(../images/dockbar/pin.png) no-repeat 0 0;
  height: 27px;
  vertical-align: middle;
  width: 27px; }

.lfr-dockbar-pinned .pin-dockbar img {
  background-image: url(../images/dockbar/unpin.png); }

.dockbar .user-portrait {
  text-decoration: none; }

.dockbar .user-avatar img {
  vertical-align: middle;
  width: 25px; }

.dockbar .impersonating-user {
  background: url(../images/messages/alert.png) no-repeat 0 50%;
  padding-left: 20px; }

.dockbar .impersonating-user .user-links a {
  color: #999; }

/* ---------- Staging Dockbar ---------- */
.variation-selector {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  margin: 1em; }

.layout-revision-container {
  margin: 1em 0 0 1em;
  padding: 0; }
  .layout-revision-container .aproximate-date {
    color: #999;
    font-weight: bold; }
  .layout-revision-container .current-version {
    color: #41801d;
    display: block; }
  .layout-revision-container .current-version-pointer {
    display: inline-block;
    width: 0; }
  .layout-revision-container .current-version-pointer img {
    left: -25px;
    position: relative; }
  .layout-revision-container .layout-variation-name {
    color: #666;
    font-size: 1.15em;
    margin-bottom: 0.1em;
    text-transform: uppercase; }
  .layout-revision-container .layout-revision-current {
    color: #666; }
  .layout-revision-container .real-date {
    color: #999;
    display: block;
    text-align: right; }
  .layout-revision-container .taglib-workflow-status .workflow-status {
    background: none;
    padding-left: 0; }
    .layout-revision-container .taglib-workflow-status .workflow-status .workflow-status-ready-for-publication {
      color: #41801d;
      font-weight: bold; }

.layout-revision-container-root {
  margin: 0; }

.staging-details {
  background: url() no-repeat 0 0;
  padding-left: 65px;
  min-height: 50px; }

.staging .staging-details {
  background-image: url(../images/staging_bar/staging.png); }

.live-view .staging-details {
  background-image: url(../images/staging_bar/live.png); }

.staging .staging-tabview-list {
  background-color: #FFDBA6; }

.live-view .staging-tabview-list {
  background-color: #C4F0BC; }

/* ---------- Menus ---------- */
.aui-dockbarmenu-hidden {
  visibility: hidden; }

.dockbar .aui-toolbar {
  float: left; }

.dockbar .user-toolbar {
  float: right; }

.aui-underlay .portal-add-content {
  background-color: transparent;
  font-size: 11px; }

.aui-underlay .portal-add-content .portlet-dd-placeholder {
  display: none; }

.add-application .yui3-widget-bd, .dockbar-messages .yui3-widget-bd {
  padding: 0 10px 10px; }

.add-application {
  left: 10px !important; }

.lfr-has-sidebar #main-content {
  padding-left: 220px; }

.manage-layouts {
  left: 60px !important; }

.my-sites-menu {
  max-width: 350px; }

.my-sites-menu ul {
  list-style: none;
  max-height: 300px;
  overflow: auto; }

.my-sites-menu ul, .my-sites-menu li {
  display: block;
  margin: 0;
  padding: 0; }

.my-sites-menu a {
  display: block;
  overflow: hidden;
  text-align: right;
  white-space: nowrap; }

.my-sites-menu .control-panel a {
  background: url(../images/dock/control_panel.png) no-repeat 3px 50%;
  padding-left: 25px; }

.my-sites-menu .current-site {
  border: solid #1D4280;
  border-width: 1px 0; }

.my-sites-menu .current-site a {
  background: #3068ba url(../images/arrows/01_right.png) no-repeat scroll 2px 30%;
  color: #FFF;
  padding-left: 20px;
  text-shadow: 1px 1px #333; }

.my-sites-menu .current-site .site-type {
  color: #FFF; }

.my-sites-menu .current-site a:hover, .my-sites-menu a:hover .site-type {
  color: #FFF;
  text-shadow: 1px 1px #333; }

.my-sites-menu .site-name {
  cursor: pointer;
  float: left; }

.my-sites-menu .site-type {
  color: #777;
  float: right;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 10px; }

.ie7 .my-sites-menu .site-type {
  float: none; }

.my-sites-menu a:hover .site-type {
  color: #FFF; }

.ie7 .my-sites-menu a {
  overflow: visible;
  text-align: left; }

.ie7 .my-sites-menu .site-name {
  float: none; }

.ie7 .my-sites-menu .site-type {
  float: none; }

.ie6 .my-sites-menu {
  width: 200px; }

.ie6 .my-sites-menu a {
  height: 1%; }

.dockbar .toggle-controls a {
  background: url(../images/dockbar/checked.png) no-repeat 0 50%;
  padding-left: 20px; }

.controls-hidden .toggle-controls a {
  background-image: url(../images/dockbar/unchecked.png); }

.toggle-controls a {
  background-image: url(../images/dockbar/unchecked.png); }

.dockbar .menu-button {
  background: url(../images/arrows/05_down.png) no-repeat 93% 50%;
  display: inline-block;
  padding: 5px 20px 5px 5px;
  text-decoration: none; }

.dockbar .menu-button span {
  background: url() no-repeat 0 50%;
  padding-left: 20px; }

.dockbar .add-content .menu-button span {
  background-image: url(../images/common/add.png); }

.dockbar .manage-content .menu-button span {
  background-image: url(../images/dockbar/settings.png); }

.dockbar .my-sites .menu-button span {
  background-image: url(../images/dockbar/places.png); }

.dockbar-messages-container {
  left: 50%;
  margin-left: -150px; }

.dockbar-messages {
  width: 300px; }

.showing-messages .dockbar-messages {
  display: block; }

.multiple-messages .dockbar-message {
  border-top: 1px solid #CCC;
  padding: 5px 0; }

.multiple-messages .first {
  border-top-width: 0;
  padding-top: 0; }

.add-content-menu .add-page a {
  background: url(../images/navigation/add_page.png) no-repeat 3px 50%;
  padding-left: 25px; }

.add-content-menu .add-application a {
  background: url(../images/common/portlet.png) no-repeat 3px 50%;
  padding-left: 25px; }

.add-content-menu a.lfr-portlet-used {
  color: #999;
  cursor: auto; }

.manage-content-menu li a, .manage-content-menu li .disabled {
  background: url() no-repeat 3px 50%;
  padding-left: 25px; }

.manage-content-menu .manage-page a {
  background-image: url(../images/dock/page_settings.png); }

.manage-content-menu .manage-site-content a {
  background-image: url(../images/common/site_icon.png); }

.manage-content-menu .manage-site-memberships a {
  background-image: url(../images/common/assign.png); }

.manage-content-menu .manage-page-customization a, .manage-content-menu .manage-page-customization .disabled {
  background-image: url(../images/dock/customizations.png); }

.manage-content-menu .page-layout a {
  background-image: url(../images/dock/layout.png); }

.manage-content-menu .sitemap a {
  background-image: url(../images/common/sitemap.png); }

.manage-content-menu .settings a {
  background-image: url(../images/common/configuration.png); }

/* ---------- Customization Bar ---------- */
.page-customization-bar {
  background-color: #999;
  color: #FFF;
  font-size: 1.2em;
  font-weight: bold;
  min-height: 30px; }

.controls-hidden .page-customization-bar {
  display: none; }

.page-customization-bar .customized-icon {
  margin: 5px;
  vertical-align: middle; }

.page-customization-bar .page-customization-actions {
  padding-left: 5em; }

.page-customization-bar .page-customization-actions a {
  color: #EEE;
  font-size: 0.8em;
  padding: 0 1em; }

