@charset "utf-8";
@font-face {
  font-family: MyriadPro-Bold;
  src: url("@base_url@/css/../font-face/MyriadPro-Bold.otf") format("truetype"), url("@base_url@/css/../fonts/Captureit.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../fonts/Captureit.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro-BoldCond;
  src: url("@base_url@/css/../font-face/MyriadPro-BoldCond.otf") format("truetype"), url("@base_url@/css/../font-face/Captureit.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../font-face/Captureit.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro-Regular;
  src: url("@base_url@/css/../font-face/MyriadPro-Regular.otf") format("truetype"), url("@base_url@/css/../font-face/Captureit.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../font-face/Captureit.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro-Semibold;
  src: url("@base_url@/css/../font-face/MyriadPro-Semibold.otf") format("truetype"), url("@base_url@/css/../font-face/Captureit.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../font-face/Captureit.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro-SemiboldCond;
  src: url("@base_url@/css/../font-face/MyriadPro-SemiboldCond.otf") format("truetype"), url("@base_url@/css/../font-face/Captureit.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../font-face/Captureit.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro-Black;
  src: url("@base_url@/css/../font-face/MyriadPro-Black.otf") format("truetype"), url("@base_url@/css/../font-face/MyriadPro-Black.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../font-face/MyriadPro-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: MyriadPro-Cond;
  src: url("@base_url@/css/../font-face/MyriadPro-Cond.otf") format("truetype"), url("@base_url@/css/../font-face/MyriadPro-Cond.eot#iefix") format("embedded-opentype"), url("@base_url@/css/../font-face/MyriadPro-Cond.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*!
 * Hover.css (http://ianlunn.co.uk/)
 * Version: 1.0.7
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Made available under a MIT License:
 * http://www.opensource.org/licenses/mit-license.php

 * Hover.css Copyright Ian Lunn 2014.
 */
/* Default styles for the demo buttons */
.button {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* 2D TRANSITIONS */
/* Grow */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

/* Shrink */
.shrink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.shrink:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

/* Pulse */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); } }

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* Pulse Grow */
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); } }

.pulse-grow {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.pulse-grow:hover {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

/* Pulse Shrink */
@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); } }

.pulse-shrink {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.pulse-shrink:hover {
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

/* Push */
@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.push {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.push:hover {
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Pop */
@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.pop {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.pop:hover {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Rotate */
.rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.rotate:hover {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg); }

/* Grow Rotate */
.grow-rotate {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.grow-rotate:hover {
  -webkit-transform: scale(1.1) rotate(4deg);
  -ms-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg); }

/* Float */
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.float:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px); }

/* Sink */
.sink {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.sink:hover {
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px); }

/* Hover */
@-webkit-keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px); }

  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); } }

@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); } }

.hover {
  display: inline-block;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hover:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

/* Hang */
@-webkit-keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px); }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px); } }

@keyframes hang {
  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px); }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }

.hang {
  display: inline-block;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hang:hover {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hang;
  animation-name: hang;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

/* Skew */
.skew {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.skew:hover {
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg); }

/* Skew Forward */
.skew-forward {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.skew-forward:hover {
  -webkit-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  transform: skew(-10deg); }

/* Skew Backward */
.skew-backward {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.skew-backward:hover {
  -webkit-transform: skew(10deg);
  -ms-transform: skew(10deg);
  transform: skew(10deg); }

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px); }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px); }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px); }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px); }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px); }

  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); }

  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px); }

  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px); }

  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px); }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-vertical:hover {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble Horizontal */
@-webkit-keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }

  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px); }

  33.3% {
    -webkit-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px); }

  49.95% {
    -webkit-transform: translateX(4px);
    -ms-transform: translateX(4px);
    transform: translateX(4px); }

  66.6% {
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px); }

  83.25% {
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px); }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); } }

.wobble-horizontal {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-horizontal:hover {
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble To Bottom Right */
@-webkit-keyframes wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px); }

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px); }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    -ms-transform: translate(8px, 8px);
    transform: translate(8px, 8px); }

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    -ms-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px); }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    -ms-transform: translate(4px, 4px);
    transform: translate(4px, 4px); }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    -ms-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.wobble-to-bottom-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-to-bottom-right:hover {
  -webkit-animation-name: wobble-to-bottom-right;
  animation-name: wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble To Top Right */
@-webkit-keyframes wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px); }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px); }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px); }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    -ms-transform: translate(8px, -8px);
    transform: translate(8px, -8px); }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    -ms-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px); }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    -ms-transform: translate(4px, -4px);
    transform: translate(4px, -4px); }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    -ms-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    -ms-transform: translate(1px, -1px);
    transform: translate(1px, -1px); }

  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.wobble-to-top-right {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-to-top-right:hover {
  -webkit-animation-name: wobble-to-top-right;
  animation-name: wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble Top */
@-webkit-keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg); }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg); }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg); }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg); }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0); } }

@keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg); }

  33.3% {
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg); }

  49.95% {
    -webkit-transform: skew(-6deg);
    -ms-transform: skew(-6deg);
    transform: skew(-6deg); }

  66.6% {
    -webkit-transform: skew(4deg);
    -ms-transform: skew(4deg);
    transform: skew(4deg); }

  83.25% {
    -webkit-transform: skew(-2deg);
    -ms-transform: skew(-2deg);
    transform: skew(-2deg); }

  100% {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0); } }

.wobble-top {
  display: inline-block;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-top:hover {
  -webkit-animation-name: wobble-top;
  animation-name: wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble Bottom */
@-webkit-keyframes wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg); }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg); }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg); }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg); }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0); } }

@keyframes wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg); }

  33.3% {
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg); }

  49.95% {
    -webkit-transform: skew(-6deg);
    -ms-transform: skew(-6deg);
    transform: skew(-6deg); }

  66.6% {
    -webkit-transform: skew(4deg);
    -ms-transform: skew(4deg);
    transform: skew(4deg); }

  83.25% {
    -webkit-transform: skew(-2deg);
    -ms-transform: skew(-2deg);
    transform: skew(-2deg); }

  100% {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0); } }

.wobble-bottom {
  display: inline-block;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-bottom:hover {
  -webkit-animation-name: wobble-bottom;
  animation-name: wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Wobble Skew */
@-webkit-keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg); }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg); }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg); }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg); }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg); }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0); } }

@keyframes wobble-skew {
  16.65% {
    -webkit-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    transform: skew(-12deg); }

  33.3% {
    -webkit-transform: skew(10deg);
    -ms-transform: skew(10deg);
    transform: skew(10deg); }

  49.95% {
    -webkit-transform: skew(-6deg);
    -ms-transform: skew(-6deg);
    transform: skew(-6deg); }

  66.6% {
    -webkit-transform: skew(4deg);
    -ms-transform: skew(4deg);
    transform: skew(4deg); }

  83.25% {
    -webkit-transform: skew(-2deg);
    -ms-transform: skew(-2deg);
    transform: skew(-2deg); }

  100% {
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0); } }

.wobble-skew {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.wobble-skew:hover {
  -webkit-animation-name: wobble-skew;
  animation-name: wobble-skew;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* Buzz */
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    -ms-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    -ms-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); } }

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* Buzz Out */
@-webkit-keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

@keyframes buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    -ms-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    -ms-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    -ms-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    -ms-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    -ms-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    -ms-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    -ms-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    -ms-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    -ms-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    -ms-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }

.buzz-out {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz-out:hover {
  -webkit-animation-name: buzz-out;
  animation-name: buzz-out;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* BORDER TRANSITIONS */
/* Border Fade */
.border-fade {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */ }

.border-fade:hover {
  box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */ }

/* Hollow */
.hollow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */ }

.hollow:hover {
  background: none; }

/* Trim */
.trim {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.trim:before {
  content: '';
  position: absolute;
  border: white solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.trim:hover:before {
  opacity: 1; }

/* Outline Outward */
.outline-outward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.outline-outward:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left; }

.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px; }

/* Outline Inward */
.outline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left; }

.outline-inward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1; }

/* Round Corners */
.round-corners {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.round-corners:hover {
  border-radius: 1em; }

/* SHADOW/GLOW TRANSITIONS */
/* Glow */
.glow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.glow:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

/* Box Shadow Outset */
.box-shadow-outset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.box-shadow-outset:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }

/* Box Shadow Inset */
.box-shadow-inset {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.box-shadow-inset:hover {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */ }

/* Float Shadow */
.float-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity; }

.float-shadow:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */ }

.float-shadow:hover:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */ }

/* Hover Shadow */
@keyframes hover {
  50% {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px); }

  100% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px); } }

@-webkit-keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; }

  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; } }

@keyframes hover-shadow {
  0% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; }

  50% {
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    opacity: .4; } }

.hover-shadow {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hover-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity; }

.hover-shadow:hover {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
  -webkit-animation-name: hover;
  animation-name: hover;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

.hover-shadow:hover:before {
  opacity: .4;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-animation-name: hover-shadow;
  animation-name: hover-shadow;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

/* Shadow Radial */
.shadow-radial {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.shadow-radial:before,
.shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.shadow-radial:before {
  bottom: 100%;
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%); }

.shadow-radial:after {
  top: 100%;
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%); }

.shadow-radial:hover:before,
.shadow-radial:hover:after {
  opacity: 1; }

/* SPEECH BUBBLES */
/* Bubble Top */
.bubble-top {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-top:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top;
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
  top: 0;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent; }

.bubble-top:hover:before {
  top: -10px; }

/* Bubble Right */
.bubble-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1; }

.bubble-right:hover:before {
  right: -10px; }

/* Bubble Bottom */
.bubble-bottom {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-bottom:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent; }

.bubble-bottom:hover:before {
  bottom: -10px; }

/* Bubble Left */
.bubble-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-left:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: left;
  transition-property: left;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 0;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent; }

.bubble-left:hover:before {
  left: -10px; }

/* Bubble Float Top */
.bubble-float-top {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-float-top:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
  top: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #e1e1e1 transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top;
  transition-property: top; }

.bubble-float-top:hover {
  -webkit-transform: translateY(5px) translateZ(0);
  -ms-transform: translateY(5px) translateZ(0);
  transform: translateY(5px) translateZ(0); }

.bubble-float-top:hover:before {
  top: -10px; }

/* Bubble Float Right */
.bubble-float-right {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-float-right:before {
  position: absolute;
  z-index: -1;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  right: 0;
  content: '';
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: right;
  transition-property: right; }

.bubble-float-right:hover {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px); }

.bubble-float-right:hover:before {
  right: -10px; }

/* Bubble Float Bottom */
.bubble-float-bottom {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: -webkit-calc(50% - 10px);
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: bottom;
  transition-property: bottom; }

.bubble-float-bottom:hover {
  -webkit-transform: translateY(-5px) translateZ(0);
  -ms-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0); }

.bubble-float-bottom:hover:before {
  bottom: -10px; }

/* Bubble Float Left */
.bubble-float-left {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #e1e1e1 transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: left;
  transition-property: left; }

.bubble-float-left:hover {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px); }

.bubble-float-left:hover:before {
  left: -10px; }

/* CURLS */
/* Curl Top Left */
.curl-top-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: -webkit-linear-gradient(315deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  background: linear-gradient(135deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  /*For IE7-8-9*/
  z-index: 1000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height; }

.curl-top-left:hover:before {
  width: 25px;
  height: 25px; }

/* Curl Top Right */
.curl-top-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.curl-top-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: -webkit-linear-gradient(225deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  background: linear-gradient(225deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height; }

.curl-top-right:hover:before {
  width: 25px;
  height: 25px; }

/* Curl Bottom Right */
.curl-bottom-right {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.curl-bottom-right:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: -webkit-linear-gradient(135deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  background: linear-gradient(315deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height; }

.curl-bottom-right:hover:before {
  width: 25px;
  height: 25px; }

/* Curl Bottom Left */
.curl-bottom-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.curl-bottom-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  background: white;
  /* IE9 */
  background: -webkit-linear-gradient(45deg, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
  background: linear-gradient(45deg, #ffffff 45%, #aaaaaa 50%, #cccccc 56%, #ffffff 80%);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: width, height;
  transition-property: width, height; }

.curl-bottom-left:hover:before {
  width: 25px;
  height: 25px; }

#popup_content {
  left: auto !important; }

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: none; }

#popup, .popup {
  width: 255px;
  padding-bottom: 2px;
  display: none;
  background: #194284;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  position: absolute !important;
  right: 42px; }

#popup-header, .popup-header {
  background: url(@base_url@/css/../images/web/hd-bg1.png);
  padding: 18px 18px 14px 18px;
  border-bottom: 1px solid #CCC;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px; }

#popup-header h2, .popup-header h2 {
  color: #444;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 3px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); }

#popup-header p, .popup-header p {
  color: #444;
  font-size: 1.3em;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  text-shadow: none; }

.info_popup {
  margin: 5px;
  color: #FFF; }

.info_popup p {
  margin: 3px 15px 15px;
  color: #FFF !important;
  float: left; }

.close_popup {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 14px;
  height: 14px;
  background: url(@base_url@/css/../images/web/modal_close1.png);
  z-index: 2; }

.user, .pass {
  border: 1px solid #006ab7;
  width: 163px;
  height: 26px;
  color: #CCC;
  padding-left: 45px;
  margin-bottom: 10px; }

.user {
  background: url(@base_url@/css/../images/web/user.png) no-repeat left top #003d87; }

.pass {
  background: url(@base_url@/css/../images/web/pass.png) no-repeat left top #003d87; }

.dangnhap {
  border: 2px solid #006ab7;
  background: #003d87;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; }

.dangnhap:hover {
  background: #ff7e00 !important;
  border: 3px solid #fff !important; }

/*********************************************** Reset Style ***********************************************/
* {
  margin: 0;
  padding: 0; }

body, html, div, blockquote, img, label, p,
h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt,
dd, form, select, a, fieldset, input, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

a, img {
  border: none; }

img {
  vertical-align: center; }

fieldset {
  border: none; }

.clear {
  clear: both; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.aligncenter {
  text-align: center; }

a {
  color: #ff7e00; }

a:hover {
  color: #00a295; }

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #fff; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .clum_left a {
    padding: 6px 18px !important; }

  .clum_left p span {
    font-size: 38px !important; }

  #menutop ul li a {
    padding: 10px 18px !important; } }
/* hacked cho chrome và safari */
/* -----------header------------*/
#bgheader {
  background: url(@base_url@/css/../images/bg_header.png) repeat left top;
  height: 78px;
  border-bottom: 1px solid #00b7a8; }

#header {
  width: 1010px;
  margin: auto;
  padding: 8px; }

#menutop, #logo {
  width: 100%; }

#menutop {
  height: 25px;
  position: absolute;
  top: 5px;
  right: 0;
  background: url(@base_url@/css/../images/left_dn.png) no-repeat left top #194284;
  width: 500px; }

#menutop ul {
  background: url(@base_url@/css/../images/right_dn.png) no-repeat right top #194284;
  height: 25px;
  padding-right: 36px;
  text-align: center;
  margin-left: 43px; }

#menutop ul li {
  display: inline-block;
  position: relative;
  top: 0px; }

#menutop ul li:last-child {
  border-right: none; }

#menutop ul li a {
  padding: 4px 13px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px; }

#menutop ul li span {
  background: #F00;
  border-radius: 4px;
  color: #FFF;
  padding: 1px 4px;
  font-size: 11px;
  position: absolute;
  top: -3px; }

#logo {
  height: 40px;
  background: #194284;
  width: 100%; }

#menutop p {
  float: left;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px; }

#logo a img {
  float: left; }

#logo ul {
  margin: auto;
  max-width: 1280px;
  min-width: 1000px;
  padding: 0 10px; }

#logo ul li {
  float: left;
  white-spaceno: no;
  white-space: nowrap; }

#logo ul li a {
  padding: 5px 40px 5px 0;
  font-size: 13px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  line-height: 40px; }

#logo ul li a:hover, #logo ul li .active {
  color: #ff9600; }

.logotop {
  display: block;
  padding: 10px 0 0 10px; }

/*------bannertop--------*/
#bg_bannertop {
  background: url(@base_url@/css/../images/bg_bannertop.png) repeat-x center top;
  height: 102px; }

#bannertop {
  height: 102px;
  max-width: 1280px;
  min-width: 1000px;
  margin: auto;
  position: relative; }

.menuphu {
  position: absolute;
  bottom: 5px;
  right: 0; }

.menuphu ul li {
  float: left;
  padding: 0 10px; }

.menuphu ul li a {
  color: #515151; }

.clum_left {
  float: left;
  width: 317px;
  padding-top: 35px; }

.clum_left p {
  margin: 15px 0 15px 0; }

.clum_left p span {
  font-size: 39px;
  font-family: MyriadPro-Bold;
  font-weight: bold;
  text-transform: uppercase;
  color: #00a295; }

.clum_left p i {
  font-size: 30px;
  font-family: MyriadPro-Cond;
  font-style: normal;
  padding: 15px 0; }

.clum_left .tle {
  font-size: 16px;
  border-bottom: solid 1px #00a295;
  border-top: solid 1px #00a295;
  font-style: normal;
  padding: 12px 0; }

.clum_left a {
  padding: 6px 22px;
  background: #00a295;
  border-radius: 5px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: MyriadPro-Cond;
  font-size: 28px; }

.clum_left a:hover {
  background: #F90; }

.clum_left1 {
  float: left;
  width: 77%; }

.clum_left2 {
  float: left;
  width: 77%; }

.tracuu {
  margin-top: 10px; }

input, select {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 6px 10px;
  margin-right: 5px !important; }

select {
  padding: 5px 10px; }

input[type="submit"], input[type="reset"] {
  cursor: pointer;
  margin-right: 0; }

input[type="submit"]:hover, input[type="reset"]:hover {
  background: #ffae00;
  color: #FFF; }

.clum_right {
  float: right;
  display: block; }

.menu {
  width: 100%;
  display: inline-block; }

.menu ul {
  background: url(@base_url@/css/../images/bg_menu.png) repeat-x center 13px;
  overflow: hidden;
  height: 152px; }

.menu ul li {
  float: left;
  width: 200px;
  height: 139px;
  padding: 65px 0 0 0;
  text-align: center; }

.menu ul li a:last-child {
  border-right: none; }

.menu ul li a {
  text-transform: uppercase;
  font-family: MyriadPro-Cond;
  font-size: 25px;
  padding: 40px 0 0 0; }

.slide {
  background: url(@base_url@/css/../images/bg_slide.png) repeat-x center top;
  width: 100%;
  border-bottom: solid 1px #FFF;
  border-top: solid 1px #FFF;
  height: 280px; }

/*------main--------*/
#main {
  margin: auto;
  overflow: hidden;
  background: url(@base_url@/css/../images/bg_main.gif) repeat-x center top;
  margin-bottom: 20px; }

.bodymain {
  max-width: 1260px;
  min-width: 1000px;
  margin: auto;
  padding: 0 10px; }

h1 {
  text-align: center;
  color: #ff8400;
  margin-bottom: 20px; }

.iconp {
  background: url(@base_url@/css/../images/iconp.png) no-repeat left top; }

.tlemenu {
  line-height: 47px;
  color: #194284;
  font-size: 22px;
  font-weight: normal;
  float: left; }

.tienich {
  width: 100%;
  overflow: hidden; }

.clum_left1 a {
  float: left;
  padding: 135px 15px 15px 15px;
  width: 27%;
  border-radius: 4px;
  border: solid 1px #cacaca;
  margin-right: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #194284;
  height: 40px; }

.box1 {
  background: url(@base_url@/css/../images/ti1.png) no-repeat center 15px; }

.box2 {
  background: url(@base_url@/css/../images/ti2.png) no-repeat center 15px; }

.box3 {
  background: url(@base_url@/css/../images/ti3.png) no-repeat center 15px; }

.box4 {
  background: url(@base_url@/css/../images/ti4.png) no-repeat center 15px; }

.box5 {
  background: url(@base_url@/css/../images/ti5.png) no-repeat center 15px; }

.box6 {
  background: url(@base_url@/css/../images/ti6.png) no-repeat center 15px; }

.box7 {
  background: url(@base_url@/css/../images/ti7.png) no-repeat center 15px; }

.box8 {
  background: url(@base_url@/css/../images/ti8.png) no-repeat center 15px; }

.box9 {
  background: url(@base_url@/css/../images/ti9.png) no-repeat center 15px; }

.box10 {
  background: url(@base_url@/css/../images/ti10.png) no-repeat 5px 5px #194284; }

.box11 {
  background: url(@base_url@/css/../images/ti11.png) no-repeat 5px 5px #3f6e2f; }

.clum_right1 {
  float: right;
  width: 23%; }

.clum_right1 a {
  width: 70%;
  margin-top: 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  height: 44px;
  padding: 25px 0 0 73px;
  float: right; }

.ultienich .litin {
  width: 100%;
  padding: 20px 0; }

.ultienich li a {
  font-size: 18px;
  text-transform: uppercase;
  color: #194284; }

.ultienich li p {
  margin-bottom: 15px; }

.colum_left {
  float: left;
  width: 480px; }

.colum_left img {
  margin-top: 15px; }

.tlechuyenmuc {
  background: #f2f2f2;
  border-bottom: 3px solid #00a295; }

.colum_right {
  width: 480px;
  float: right; }

.ultienich {
  overflow: hidden; }

.tintiep li {
  background: url("@base_url@/css/../images/li.png") no-repeat left 5px;
  padding-left: 20px;
  margin: 7px; }

.atintiep {
  color: #000;
  line-height: 18px; }

.search {
  float: right;
  padding: 8px 0; }

/*---------footer-------------*/
#footer {
  background: #194284; }

.fleft {
  max-width: 1280px;
  min-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 10px; }

.boxlink_f {
  float: left; }

.menu_footer {
  float: left;
  margin-right: 10px;
  border-right: solid 1px #bad1ff;
  padding-right: 15px;
  width: 233px; }

.menu_footer:last-child {
  margin-right: 0;
  border-right: none; }

h5 {
  font-size: 13px;
  text-transform: uppercase;
  color: #bad1ff;
  margin-bottom: 10px; }

.menu_footer li {
  height: 25px; }

.menu_footer li a {
  color: #bad1ff; }

.menu_footer li a:hover {
  text-decoration: underline;
  color: #fff; }

.box_f {
  overflow: hidden;
  float: right; }

.logodtt {
  text-align: center;
  float: none;
  margin: 10px 3px; }

.box_f p, .menu_footer p {
  font-size: 12px;
  text-align: center;
  color: #bad1ff;
  line-height: 16px; }

.boxlink_f p {
  text-align: left;
  padding: 5px 0 5px 0px;
  color: #c3e2e3; }

.boxlink_f img {
  float: left; }

.menu_footer p a {
  color: #ff8400;
  font-weight: bold; }

.menu_footer p span {
  color: #FFF;
  font-size: 30px;
  line-height: 40px; }

.box_tin {
  display: inline-block;
  margin-bottom: 20px; }

.box_f p a {
  color: #6a6a6a; }

.box_f p a:hover {
  color: #FFF; }

/*---------nap Gcoi-------------*/
.linepage {
  background: #2c7f83;
  height: 5px; }

.tabdangnhap {
  height: auto !important; }

.page {
  background: none !important;
  margin-top: 40px !important; }

.colum1_left {
  float: left;
  width: 250px; }

h4 {
  border-radius: 5px 5px 0 0;
  background: #2c7f83;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px; }

.colum1_left ul {
  border-left: solid 1px #2c7f83;
  border-right: solid 1px #2c7f83;
  border-bottom: solid 1px #2c7f83;
  padding: 10px; }

.colum1_left ul li {
  background: url("@base_url@/css/../images/iconbt.png") no-repeat left 13px;
  border-bottom: dotted 1px #e3cfae;
  padding: 10px 0 10px 20px; }

.colum2_right {
  float: right;
  width: 735px; }

.tle1 {
  line-height: 30px;
  color: #2c7f83;
  padding-left: 20px;
  font-size: 16px;
  background: url("@base_url@/css/../images/arrow-r.png") no-repeat left 5px;
  margin-bottom: 15px; }

.box1 {
  position: relative;
  border-radius: 5px;
  border: solid 1px #2c7f83;
  padding: 20px;
  margin-top: 30px; }

.box1 h6 {
  color: #2c7f83;
  font-size: 14px;
  background: url("@base_url@/css/../images/bg_body.gif") repeat;
  position: absolute;
  left: 20px;
  top: -13px; }

.box1 .huongdan {
  position: absolute;
  top: -20px;
  right: 0; }

table {
  background: #FFF; }

table tr th {
  background: #194284;
  color: #FFF; }

table tr td, table tr th {
  border: solid 1px #c9c9c9;
  padding: 6px 12px; }

table tr td img {
  float: left; }

.name_nh {
  text-transform: uppercase;
  margin-left: 20px;
  line-height: 50px; }

.noidung {
  margin-top: 15px; }

span {
  color: #F00;
  font-weight: bold; }

.noborder {
  background: none; }

.noborder tr td {
  border: none; }

.text_right {
  text-align: right; }

.nhgiaodich {
  margin-left: 0 !important;
  line-height: normal !important; }

.submit, .reset {
  background: #194284;
  color: #FFF;
  border: none; }

i {
  font-size: 11px;
  color: #404040; }

.imgtich {
  float: none;
  margin-left: 5px; }

/*-------page-*/
.boxpage {
  border-radius: 4px;
  border: solid 1px #194284;
  padding: 10px;
  margin-top: 15px; }

.chuyengia, .hoi, .tintuc {
  padding-left: 45px;
  border-bottom: solid 1px #194284;
  text-transform: uppercase;
  color: #194284;
  line-height: 40px;
  margin-bottom: 15px; }

.hoi {
  background: url("@base_url@/css/../images/icon_pageQH.png") no-repeat left top; }

.chuyengia {
  background: url("@base_url@/css/../images/icon_pageCG.png") no-repeat left top; }

.tintuc {
  background: url("@base_url@/css/../images/icon_tintuc.png") no-repeat left top; }

.tle_center {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px; }

.iconguicauhoi {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 3px !important;
  height: 22px !important;
  text-transform: none !important;
  width: 100% !important;
  font-size: 14px !important; }

.name {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  margin-top: 3px !important;
  height: 22px !important;
  text-transform: none !important;
  width: 100% !important;
  font-size: 14px !important;
  text-align: left !important;
  font-weight: bold; }

.spanli {
  background: url("@base_url@/css/../images/spanli.png") no-repeat left 5px;
  padding-left: 15px;
  color: #000; }

.text_center {
  text-align: center; }

.noboder tr td {
  border: none !important; }

.full {
  width: 80%; }

.fulltex {
  width: 83.5%; }

.bt {
  background: #194284;
  border: solid 1px #194284;
  color: #FFF; }

.text_right {
  text-align: right; }

/*--------tintuc-----*/
.tintuc p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #03417b;
  margin-left: 10px;
  line-height: 10px;
  background: #FFF; }

.tintop_chuyenmuc {
  border: solid 1px #d8d8d8;
  margin-top: 10px;
  padding: 10px;
  display: inline-block; }

.tintop_chuyenmuc ul {
  width: 665px; }

.tintop_chuyenmuc img {
  float: left; }

.tintop_chuyenmuc h2 {
  margin-left: 370px; }

.tintop_chuyenmuc a {
  color: #03417b;
  text-align: justify;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

.tintop_chuyenmuc p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  text-align: justify;
  margin-top: 10px;
  margin-left: 370px; }

.tintop_chuyenmuc li {
  border-right: 1px solid #CCCCCC;
  float: left;
  margin-right: 5px;
  width: 49%; }

.tintop_chuyenmuc img {
  border: 1px solid #C1C1C1;
  float: left;
  margin-right: 10px;
  padding: 2px; }

.tintop_chuyenmuc ul li a {
  color: #454545;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: justify; }

.tintop_chuyenmuc ul li a:hover {
  text-decoration: underline;
  color: #000; }

.chuyenmuc {
  margin-top: 5px; }

.bg_tit_chuyenmuc {
  background: url("@base_url@/css/../images/bg-title-vb.png") no-repeat left top;
  height: 25px;
  position: relative;
  width: 100%; }

.text-title h2 {
  background: url("@base_url@/css/../images/tile_left_1.gif") no-repeat right top;
  display: inline-block;
  height: 21px; }

.text-title a {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #03417B;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 21px;
  margin-left: 30px;
  margin-right: 12px;
  padding: 5px;
  text-transform: uppercase; }

.boxtin_chuyenmuc {
  float: left;
  width: 65%;
  overflow: hidden;
  padding: 2px;
  margin: 10px 0; }

.boxtin_chuyenmuc img {
  border: 1px solid #C1C1C1;
  float: left;
  margin-right: 10px;
  padding: 2px; }

.boxtin_chuyenmuc .tle_tin_cm a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #454545;
  text-align: justify; }

.boxtin_chuyenmuc p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  text-align: justify;
  margin-top: 10px; }

.boxtinphu_chuyenmuc {
  float: right;
  width: 30%;
  margin: 10px 0; }

.boxtinphu_chuyenmuc ul li {
  float: left;
  margin-top: 10px; }

.boxtinphu_chuyenmuc ul li .img_s {
  float: left;
  padding: 2px;
  margin-right: 10px; }

.boxtinphu_chuyenmuc ul li a {
  color: #5B5B5B;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-top: 0;
  text-align: justify; }

.boxtinphu_chuyenmuc ul li a:hover {
  text-decoration: underline;
  color: #000; }

.boxtinphu_chuyenmuc ul li .icon_sub {
  float: left;
  padding: 2px;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-right: 10px; }

/*----------tintuc_chuyenmuc----------*/
.tintuc_chuyenmuc {
  overflow: hidden;
  margin-top: 10px;
  border-bottom: solid 1px #d8d8d8; }

.tintuc_chuyenmuc img {
  border: 1px solid #C1C1C1;
  float: left;
  margin-right: 10px;
  padding: 2px;
  margin-bottom: 10px; }

.tintuc_chuyenmuc .tle_tin_cm a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #454545;
  text-align: justify; }

.tintuc_chuyenmuc p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  text-align: justify;
  margin-top: 10px; }

.tle_tin_cm {
  text-align: left;
  text-transform: none;
  background: none; }

/*-------------tinkhac-----------------*/
.tinkhac {
  position: relative;
  min-height: 235px;
  margin-bottom: 10px; }

.tinkhac p {
  font-size: 14px;
  color: #5c5c5c;
  font-weight: bold;
  background: url("@base_url@/css/../images/icon_tinkhac.png") no-repeat left 6px white;
  line-height: 30px;
  height: 40px;
  padding-left: 40px;
  position: absolute;
  z-index: 5;
  top: 11px;
  left: 5px; }

.tinkhac ul {
  border: solid 1px #d8d8d8;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
  top: 30px;
  z-index: 1; }

.tinkhac ul li {
  background: url("@base_url@/css/../images/icon-sub-menu.png") no-repeat left 6px;
  float: left;
  display: inline-table;
  padding-left: 10px;
  margin-top: 10px; }

.tinkhac ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #144e84;
  float: left;
  display: block;
  text-align: justify; }

.tinkhac ul li a:hover {
  text-decoration: underline; }

/*---------chitiet_bai-----------*/
.chitiet_bai {
  padding: 10px; }

.chitiet_bai h2 {
  color: #03417B;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  text-align: justify; }

.tomtat {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #6b6b6b;
  text-align: justify;
  margin-top: 10px; }

.text_noidung {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: nomal;
  color: #000;
  text-align: justify;
  margin-top: 10px;
  line-height: 20px; }

.thumbnail_s {
  float: left;
  margin-right: 10px;
  margin-top: 10px; }

.thumbnail_b {
  margin-top: 10px; }

.images {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000;
  font-weight: normal;
  margin-top: 10px;
  text-align: center;
  border: none; }

.Normal {
  font-weight: bold;
  color: #000;
  text-align: right; }

.tienich_bai {
  margin-bottom: 20px; }

.tienich_bai ul {
  float: right; }

.tienich_bai ul li {
  float: left;
  padding-right: 10px;
  line-height: 20px; }

.tienich_bai ul li a {
  color: #144E84;
  display: block;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px; }

.tienich_bai ul li a:hover {
  text-decoration: underline; }

.tienich_bai ul .ykien_cuaban {
  background: url("@base_url@/css/../images/icon_ykien_cuaban.png") no-repeat left 3px; }

.tienich_bai ul .guicho_banbe {
  background: url("@base_url@/css/../images/icon_guimail.png") no-repeat left 3px; }

.tienich_bai ul .inbai {
  background: url("@base_url@/css/../images/icon_mayin.png") no-repeat left 3px; }

.tienich_bai ul .trolai {
  background: url("@base_url@/css/../images/icon_trolai.png") no-repeat left 3px; }

/*----------hotro----------*/
.boxhotro .lastli {
  position: relative;
  z-index: 10;
  color: #000000; }

.boxhotro li .textht {
  display: block;
  /*1*/
  color: #FFF;
  padding: 0px 10px 19px 10px !important;
  background: url(@base_url@/css/../images/tinhan.png) no-repeat left top;
  position: relative; }

.boxhotro li ul {
  position: absolute;
  left: -95px;
  top: 19px;
  display: none;
  /*2*/
  background: #fff !important;
  border: solid 1px #c1c1c1;
  width: 300px;
  height: auto !important;
  padding-right: 0 !important;
  text-align: left !important; }

.boxhotro li:hover ul {
  display: block;
  /*3*/ }

.divleft {
  display: block;
  margin: 10px 10px 0 10px; }

.divleft p {
  border-bottom: 1px solid #e1e1e1;
  margin: 5px 0;
  padding: 5px 0; }

.divleft ul {
  position: inherit !important;
  border: none !important;
  background: none !important;
  overflow: hidden;
  margin: 5px 0; }

.divleft ul li {
  float: left;
  text-transform: none;
  margin-right: 15px; }

.name {
  color: #FF6600 !important; }

.phone {
  color: #F00 !important;
  font-size: 13px; }

.mail {
  color: #090; }

h4 {
  color: #666;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 5px; }

.liright {
  padding: 10px;
  overflow: hidden;
  background: url(@base_url@/css/../images/hotro.jpg) no-repeat right top;
  height: 235px; }

.liright .textright {
  font-weight: normal;
  text-transform: none;
  padding-left: 15px;
  background: url(@base_url@/css/../images/arrow-gray.png) no-repeat left 4px;
  margin: 10px 0;
  color: #666; }

.imgleft {
  padding: 5px 5px 5px 0 !important; }

.imgleft img {
  float: left;
  margin-right: 10px; }

.imgright {
  float: right; }

.tieudehoi a {
  color: #333 !important;
  font-size: 12px;
  text-transform: none !important;
  font-weight: normal !important; }

.text_thongbao {
  font-size: 13px;
  color: #194284;
  background: #f0f0f0;
  border-bottom: 1px solid #c1c1c1;
  padding: 3px; }

.xemtat {
  background: #f0f0f0;
  border-top: 1px solid #c1c1c1;
  width: 100%;
  text-align: center;
  padding: 3px 0; }

.xemtat a {
  color: #194284 !important;
  text-transform: none !important; }

.box100 {
  width: 100%; }

.wd-table {
  border: 1px solid #D5D5D5;
  background: #FFF; }

.wd-table tbody tr:nth-child(even) {
  background-color: #fafafa; }

.wd-table tbody tr:hover {
  background-color: #eaf5ff; }

.wd-table a {
  color: #3563c1; }

.wd-table a:hover {
  text-decoration: underline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.check1 {
  float: none; }

.tletk {
  border: none !important;
  padding: 0 !important;
  float: none !important;
  text-transform: none !important;
  font-size: 12px !important;
  font-weight: bold; }

.text_tomtat {
  text-align: justify; }

.tongso {
  margin: 10px 0; }

.tongso .sohoso {
  float: left; }

.tongso .sohoso span {
  font-size: 16px;
  font-weight: bold; }

.tongso .soright .boder {
  border: solid 1px #d5d5d5;
  border-radius: 4px;
  padding: 3px 6px; }

.phantrang {
  margin: 10px 0; }

.sotrang {
  float: right;
  width: auto; }

.back, .top, .so, .next, .end, .active_so {
  border: solid 1px #D1D3D4;
  padding: 5px 10px;
  color: #003317;
  line-height: 24px; }

.back, .top, .next, .end {
  margin: 0 4px; }

.sotrang a:hover {
  background-color: #194284;
  color: #FFF; }

.active_so {
  background: #194284;
  color: white !important; }

.w100 {
  width: 100%; }

.box12 {
  overflow: hidden; }

.boder1 {
  color: #194284; }

.boxdiachi {
  float: right; }

#googleMap {
  float: left; }

.boxdiachi {
  width: 330px; }

.tencty {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #194284;
  margin-bottom: 20px; }

.boxdiachi p {
  line-height: 30px; }

.diachi {
  background: url(@base_url@/css/../images/diachi.png) no-repeat left 7px; }

.dienthoai {
  background: url(@base_url@/css/../images/dienthoai.png) no-repeat left 7px; }

.email {
  background: url(@base_url@/css/../images/email.png) no-repeat left 7px; }

.diachi, .dienthoai, .email {
  padding-left: 25px; }

.phantrang {
  margin: 10px 0; }

.sotrang {
  float: right;
  width: 170px; }

.back, .top, .so, .next, .end, .active_so {
  border: solid 1px #D1D3D4;
  padding: 5px 10px;
  color: #003317;
  line-height: 24px; }

.back, .top, .next, .end {
  margin: 0 4px; }

.sotrang a:hover {
  background-color: #194284;
  color: #FFF; }

.active_so {
  background: #194284;
  color: white !important; }

.back {
  background: url(@base_url@/css/../images/back.png) no-repeat center 9px; }

.top {
  background: url(@base_url@/css/../images/top.png) no-repeat center 9px; }

.next {
  background: url(@base_url@/css/../images/next.png) no-repeat center 9px; }

.end {
  background: url(@base_url@/css/../images/end.png) no-repeat center 9px; }

.tieudect {
  font-size: 20px !important;
  line-height: 27px; }

.end {
  margin-right: 0 !important; }

/* CSS Document */
#container {
  max-width: 1280px;
  min-width: 1000px;
  margin: auto; }

.lof-slidecontent, .lof-slidecontent a {
  color: #FFF; }

.lof-slidecontent a.readmore {
  color: #fff;
  background: #ff7e00;
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 1px #FFFFFF;
  border-radius: 4px; }

.lof-slidecontent {
  position: relative;
  overflow: hidden; }

.lof-slidecontent .preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
  background: white; }

.lof-slidecontent .preload div {
  height: 100%;
  width: 100%;
  background: transparent url(@base_url@/css/../images/load-indicator.gif) no-repeat scroll 50% 50%; }

.lof-main-outer {
  position: relative;
  height: 100%;
  z-index: 3px;
  overflow: hidden; }

/*******************************************************/
.lof-main-item-desc {
  z-index: 100px;
  position: absolute;
  top: 25px;
  left: 50%;
  width: 28%;
  background: url(@base_url@/css/../images/bg_trans.png);
  padding: 10px; }

.lof-main-item-desc p {
  margin: 0 0 10px 0;
  padding: 8px 0;
  font-size: 13px; }

.lof-main-item-desc h3 {
  padding: 0;
  margin: 0; }

.lof-main-item-desc h2 {
  padding: 0;
  font-size: 25px; }

.lof-main-item-desc h3 a {
  margin: 0;
  background: #C01F25;
  font-size: 75%;
  padding: 2px 3px;
  font-family: "Trebuchet MS",Trebuchet,Arial,Verdana,sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.lof-main-item-desc h3 a:hover {
  text-decoration: underline; }

.lof-main-item-desc h3 i {
  font-size: 70%; }

/* main flash */
ul.lof-main-wapper {
  /* margin-right:auto; */
  background: transparent url(@base_url@/css/../images/load-indicator.gif) no-repeat scroll 50% 50%;
  padding: 0px;
  margin: 0;
  position: relative; }

ul.lof-main-wapper li {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  position: absolute; }

.lof-opacity li {
  position: absolute;
  top: 0;
  left: 0;
  float: inherit; }

/* item navigator */
.lof-navigator-wapper {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: url(@base_url@/css/../images/transparent_bg.png) repeat;
  padding: 5px 0px; }

.lof-navigator-outer {
  position: relative;
  z-index: 100;
  height: 180px;
  width: 310px;
  overflow: hidden;
  color: #FFF;
  float: left; }

ul.lof-navigator {
  top: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%; }

ul.lof-navigator li {
  cursor: hand;
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin-left: 0px;
  overflow: hidden;
  float: left;
  display: block;
  text-align: center; }

ul.lof-navigator li img {
  border: #666 solid 3px; }

ul.lof-navigator li.active img, ul.lof-navigator li:hover img {
  border: #A8A8A8 solid 3px; }

.lof-main-outer .lof-next, .lof-main-outer .lof-previous {
  display: block;
  width: 40px;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  height: 100%;
  z-index: 3;
  top: 0;
  text-indent: -9999px; }

.lof-main-outer .lof-next {
  right: 10px;
  background: url(@base_url@/css/../images/b_next.png) no-repeat right center; }

.lof-main-outer .lof-previous {
  left: 10px;
  background: url(@base_url@/css/../images/b_prev.png) no-repeat left center; }

